/**** navbar background ****/
.navbar-collapse {
  @include nav($white,$color_gravel_approx,$color_regent_gray_approx,$white,$color-light-gray,$color_regent_gray_approx,$white,black,
  $white,15px,normal,$fs:19px,$fw:normal);
  color: $color_gravel_approx;
  border-bottom: 1px solid $color_bon_jour_approx;
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        @extend %font;
        @media #{$mobile} {
          color: black;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        @media #{$mobile} {
          font-family: helvetica, Georgia, Baskerville, Palatino, Palatino Linotype, Book Antiqua, Times New Roman, serif;
        }
        &:hover, &:active {
          @media #{$mobile} {
            color: black;
          }
        }
      }
    }
  }
}
