h2.block-title {
  color: $color_mine_shaft_approx;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: none;
}
.page-node-type-person {
  .content-inner {
    h2.block-title {
      padding: 7px 10px;
    }
  }
}
