.navbar-collapse {
  @include nav($color_goldenrod_approx,$color-black1,$color_curious_blue_approx,$white,$white,$color_goldenrod_approx,
  $color-black1,$color-black1,$color-black1);
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        @extend %font;
        font-family: $font_4, $font_5;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        background: none;
      }
    }
  }
}
