html,
body {
  background: $color-white;
  @extend %body-color;
}
/* Titles & Type */
.page-header,
.node--title,
.page-search .title a,
.more-link,
.links a,
footer ul.nav a,
.field--name-body h3,
.field--name-body h4 {
  @extend %font-family;
}
.page-search .title a {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 18px;
}
.content-inner {
  h2, h3, h4 {
    @extend %font-family;
    @extend %heading-margin;
  }
  h2.field--label {
    font-family: arial;
  }
}
h1#page-header {
	font-size: 30px;
	margin: 15px 0 30px;
}
.path-search {
  h1#page-header {
    margin-top:10px;
  }
}
.not-front.two-sidebars {
  .main-container {
    .content-inner {
    	border-right: 1px solid $color-light-gray2;
    }
  }
}
aside {
  .region {
    > .block {
      @extend %border-top;
      margin-bottom: 12px;
      &:before {
        margin-top: 12px;
      }
    }
  }
  nav {
    border: 0;
  }
}
.path-front {
  .content-inner {
    .block {
      @extend %border-top;
      padding-top: 12px;
    }
    nav {
      border: 0;
    }
  }
}
