/**** default variables ****/
$color-white: #fff;
$color-black: #000;
$color-gray: #1e1e1e;
$color-gray1: #303030;
$color-gray2: #1E2540;
$color-light-gray: #e6e6e3;
$color-light-gray1: #f3f3f1;
$color-light-gray2: #e7e7e7;
$color-light-gray3: #F0F0EE;
$color-blue: #4384C4;
$color-blue1: #3A72AB;
$color-blue2: #34679A;
$color-blue3: #407EB4;
