.navbar-collapse {
  background: none repeat scroll 0 0 $white;
  border-bottom: 1px solid $color_alto_approx;
  @media #{$mobile} {
    padding: 0 !important;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $color-light-gray;
        border-top: 0 none;
      }
      > a {
        @media #{$mobile} {
          color: $color_mine_shaft_approx;
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          @extend %extend_1;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          @extend %extend_1;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_cararra_approx;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        background: none;
        @media #{$mobile} {
          font-size: 19px;
          padding-left: 20px;
          color: $color_mine_shaft_approx;
        }
        &:hover, &:active {
          background: none;
          @media #{$mobile} {
            color: $color_mine_shaft_approx;
          }
        }
      }
      &.active {
        a {
          background: none;
          @media #{$mobile} {
            color: $color_mine_shaft_approx;
          }
          &:hover {
            background: none;
            @media #{$mobile} {
              color: $color_mine_shaft_approx;
            }
          }
        }
      }
    }
  }
}
