%font-family {
  font-family: $font_0, $font_1;
}
%font-family1 {
  font-family: $font_2, $font_1;
}
body {
  font-family: Droid Sans, sans-serif;
}
.content-inner {
  h2:not(.node--title), h3, h4 {
    font-family: $font_2, $font_1;
  }
}
.page-header {
  font-family: $font_2, $font_1;
}
h2.block-title {
  font-family: $font_2, $font_1;
  font-size: 1.4em;
}
h1.page-header {
  font-size: 2em;
  line-height: 1.2;
}

