@import '../../os_base/scss/base/breakpoints';

//colors
$color_scarpa_flow_approx: #545a5d;
$color_cape_cod_approx: #3f3f3f;
$color_fuscous_gray_approx: #525252;
$color_celeste_approx: #ccc;
$color_nevada_approx: #6a7073;
$color_ironside_gray_approx: #686868;
$color_pink_swan_approx: #bbbbbb;
$white: #ffffff;
$color_boulder_80_approx: rgba(120, 124, 126, 0.80);
$color_chamois_approx: #e6e1b3;
$color_stiletto_approx: #a23338;
$color_swiss_coffee_approx: #e4d9d9;
$color_gunsmoke_approx: #838383;
$color_concrete_approx: #f3f3f1;
$color_corduroy_approx: #636a6d;
$color_tapa_approx: #707476;
$color_mountain_mist_approx: #909496;
$color_oslo_gray_approx: #818e94;
$color_mercury_approx: #e1e4e5;
$color_abbey_approx: #4d575a;
$color-gray: #444;

//fonts
$font_0: Open Sans;
$font_1: Arial;
$font_2: Helvetica;
$font_3: sans-serif;
$font_4: Arimo;

//@extend-elements
//original selectors
//html, body, .cke_editable *
%extend_1 {
  color: $color_scarpa_flow_approx;
  font-family: $font_0, $font_1, $font_2, $font_3;
  line-height: 24px;
}


@import url(https://fonts.googleapis.com/css?family=Arimo);

html {
  @extend %extend_1;
}

body {
  @extend %extend_1;
}

.header-container {
  background: url(../images/header_background.png) left top no-repeat $color_cape_cod_approx;
  border-top: 1px solid $color_fuscous_gray_approx;
}

#boxes-box-site_info {
  font-family: $font_4;
  a {
    font-family: $font_4;
  }
  h2 {
    font-size: 25px;
    margin-bottom: 2px;
  }
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  h1 a {
    font-size: 32px;
  }
}
.navbar-collapse {
  background: url(../images/menu2Back.png) 0 0 repeat $color_celeste_approx;
  border-bottom: 1px solid $color_celeste_approx;
  @media #{$mobile} {
    padding: 0 !important;
    background: #fff;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $color-gray;
        border-top: 0 none;
      }
      > a {
        color: $color_nevada_approx;
        @media #{$mobile} {
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color_ironside_gray_approx;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color_ironside_gray_approx;
          margin: 0 !important;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_ironside_gray_approx;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid $color_pink_swan_approx;
    border-top: 0;
    @media #{$mobile} {
      background: none;
      border: 0 none;
    }
    > li {
      > a {
        text-transform: none;
        color: $white;
        background: none;
        @media #{$mobile} {
          font-size: 19px;
          padding-left: 20px;
          color: $color_nevada_approx;
        }
        &:hover, &:active {
          background: $color_boulder_80_approx !important;
          color: $color_chamois_approx !important;
          box-shadow: none;
        }
      }
      &.active {
        a {
          background: none;
          @media #{$mobile} {
          }
          &:hover {
            background: $color_boulder_80_approx !important;
            color: $color_chamois_approx;
            box-shadow: none;
            @media #{$mobile} {
            }
          }
        }
      }
    }
  }
}
.fc-today {
  border: 1px solid $color_celeste_approx !important;
  background-color: $color_swiss_coffee_approx !important;
}
#boxes-box-os_pages_section_nav {
  border-color: $color_celeste_approx;
}
.section-nav {
  a {
    color: $color_corduroy_approx;
    &:hover {
      background-color: $color_concrete_approx;
    }
    &.active {
      background-color: $color_concrete_approx;
      color: $color_corduroy_approx;
    }
  }
  .leaf {
    &.menu-depth-3>a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
    &.menu-depth-4>a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
    &.menu-depth-5>a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
    &.menu-depth-6>a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
  }
  ul.menu li a {
    border-color: $color_celeste_approx;
    display: block;
    text-decoration: none;
    font-weight: normal;
  }
  .menu-depth-1>a {
    background-color: $color_stiletto_approx;

    &:hover {
      background-color: $color_tapa_approx;
    }
  }
  .expanded.menu-depth-2 {
    >a {
      background-color: $color_mountain_mist_approx;
      &:hover {
        background-color: $color_oslo_gray_approx;
      }
    }
    .menu-depth-3 > a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
    .menu-depth-4 > a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
    .menu-depth-5>a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
    .menu-depth-6>a {
      background-color: $white;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &.active {
        background-color: $color_concrete_approx;
      }
    }
  }
}
#branding_footer {
  background: none repeat scroll 0 0 $color_cape_cod_approx;
}
#branding_header {
  background: none repeat scroll 0 0 $color_cape_cod_approx;
}
.page-title {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.node--title {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.path-search {
  .title a {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
  .content-inner p {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
}
.more-link {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.fc {
  th {
    border-color: $color_celeste_approx !important;
  }
  td {
    border-color: $color_celeste_approx !important;
    color: $color_abbey_approx !important;
  }
}
.field--name-field-location {
  padding-bottom: 20px;
}
.field--name-field-event-registration {
  padding-top: 20px;
}
.cke_editable * {
  @extend %extend_1;
}
.path-node-type-person .content-inner h2.block-title {
  background: none repeat scroll 0 0 $color_stiletto_approx;
}
aside .block {
  h2.block-title {
    background: none repeat scroll 0 0 $color_stiletto_approx;
  }
  .fc .fc-body {
    border-color: $color_celeste_approx !important;
  }
}
.mini-calendar .fc-today span {
  color: $color_gunsmoke_approx;
}
.content-inner .block.block-boxes-os_boxes_manual_list .links.inline a {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.not-front .content-inner p {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.links a {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
footer ul.nav li a {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.boxes-box-content h2 {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.view-os-events .views-field-colorbox {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
#block-views-os-events-block-1 .view .date-nav-wrapper {
  border-color: $color_celeste_approx !important;
}
.fc-row.ui-widget-header th {
  background-color: $color_mercury_approx !important;
  color: $color_abbey_approx !important;
}
.fc-header-toolbar h2 {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
