/**** navbar background ****/
.navbar-collapse {
  @include nav($color-white,$color-gray2,$color-light-gray,$color-gray2,$color-gray2,$color-gray1,$color-white,$color-gray2,$color-white,12px,700,16px,700);
  background: $color-white;
  border: 1px solid $color-light-gray1;
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      > a {
        transition: all .3s ease;
        padding: 16px 20px;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
        padding: 8px 15px;
        transition: all .3s ease;
        @media #{$mobile} {
          &:hover {
            color: $color-gray2;
          }
        }
      }
    }
  }
}
