/******** header, navbar **************/
header {
  background: $color-gray;
  color: $color-white;
}
.navbar-collapse {
  background: $color-menu;
  padding: 0;
  .navbar-nav {
    > li {
      > a {
        color: $color-white;
        padding: 16px 15px;
        font-size: 20px;
        font-family: Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
        &:hover, &:active, &:focus, &.is-active {
          background: $color-menu-hover;
          color: $color-white;
        }
        &.is-active {
          &:hover {
            background: $color-menu-hover;
            color: $color-white;
          }
        }
      }
      &.open, &.active {
        > a {
          background: $color-menu-hover;
          color: $color-white;
          &:hover, &:active, &:focus {
            background: $color-menu-hover;
            color: $color-white;
          }
        }
      }
    }
  }
}
.dropdown-menu {
  background: $color-menu-hover;
  > li {
    > a {
      color: $color-white;
      font-family: arial;
      font-size: 13px;
      font-weight: bold;
      padding: 10px 15px;
      &:hover, &:active {
        color: $color-white;
        background: $color-menu-hover;
      }
    }
    &.active {
      a, a:hover {
        color: $color-white;
        background: $color-menu-hover;

      }
    }
  }
}
.header-container {
  .nav {
    li {
      a {
        font: bold 13px arial,sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-light-gray2;
        padding: 0.3em 0 0.3em 10px;
        &:hover {
          background: none;
        }
      }
    }
  }
}