/******** read more **********/
.read-more {
  border-bottom: none;
  font-size:12px;
  font-weight:bold;
  float: none;
  padding-right: 11px;
  position: relative;
  &:after {
    background: url("../../os_base/images/basesprite.png") no-repeat 3px -572px;
    padding-right: 11px;
    content: '';
  } 
}
