/**** sidebars ****/
aside {
  .block {
    margin-bottom: 20px;
    h2.block-title {
      background: none repeat scroll 0 0 $color-gray1;
      color: $color-white;
      font-size: 14px;
      line-height: 16px;
      padding: 7px 10px;
      font-weight: normal;
    }
  }
}
