//colors
$color_log_cabin_approx: #222;
$white: #ffffff;
$color_st_tropaz_approx: #215990;
$color_fuscous_gray_approx: #545454;
$color_endeavour_approx: #065db2;
$color_black_haze_approx: #f6f6f6;
$color_glacier_approx: #81b9c3;
$color_jaffa_approx: #e67939;
$color_fiord_approx: #3a4b68;
$color_san_juan_approx: #32526e;
$color_tundora_approx: #444;
$color_limed_spruce_approx: #3e464d;
$color_mountain_mist_approx: #999;
$color-light-gray: #f3f3f1;
//fonts
$font_0: Quattrocento;
$font_1: sans-serif !important;
$font_2: Oswald;
