$color-white: #fff;
$color-black: #000;
$color-green: #e43c5c;
$color-gray: #333;
$color-gray1: #303030;
$color-gray2: #354242;
$color-light-gray: #f3f7f7;
$color-light-gray1: #dedede;
$color-dark: #1c2331;
