//colors
$black: #000;
$color_hippie_green_approx: #467141;
$white: #fff;
$color_red_stage_approx: #BF5803;
$color_mountain_mist_approx: #757575;
$color_concrete_approx: #f3f3f1;
$color_indian_khaki_22_approx: #E3E0D4;
$color_iron_approx: #d7d7d7;
$color_fuscous_gray_approx: #555;

//fonts
$font_0: Droid Sans;
$font_1: sans-serif !important;
