//colors
$color_monarch_approx: #8a101e;
$color_black_haze_approx: #f6f8f8;
$color_mexican_red_approx: #a61d31;
$white: #ffffff;
$color_tundora_approx: #444;
$black: #000000;
$color_persian_plum_approx: #731422;
$wild_sand: #f4f4f4;
$color_mystic_approx: #e3eaef;
$color_celeste_approx: #ccc;
$color_gravel_approx: #474747;
$color_st_tropaz_approx: #215990;
$color_storm_dust_approx: #666666;
$color_rangoon_green_approx: #1d1d1d;
$color_pale_sky_approx: #687781;
$color_solid_pink_approx: #8f323e;

//fonts
$font_0: helvetica;
$font_1: arial;
$font_2: sans-serif;
$font_3: serif;
$font_4: Arial;
$font_5: Helvetica;
