.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main {
  @extend %extend_1;
  span {
    &.event-start-month {
      color: $black;
    }
    &.event-year {
      padding: 8px 0 0;
    }
    .fc-listPast-view .fc-list-heading .fc-list-heading-main span {
      font-weight: normal;
    }
  }
}
