/******** header, navbar **************/
header {
  background: $color-blue1;
}
.header-container {
  ul.nav {
    li {
      a {
        font: bold 13px 'Droid Sans',sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        padding: 0.3em 0 0.3em 10px;
        &:hover {
          background: none;
        }
      }
      &.open {
        a {
          color: $color-text;
        }
      }
      &.expanded {
        > a {
          color: $color-white;
        }
      }
    }
  }
}
