/**** navbar background ****/
.navbar-collapse {
  @include nav($color-blue2,$color-white,$color-blue1,$color-white,$color-oxford-blue,
  $color-blue1,$color-white,$color-white,$color-white,$fs:20px,$fw:normal);
  background: $color-blue2;
  border-bottom: 9px solid $color-light-gray2;
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $color-oxford-blue;
        border-top: 1px solid $color-blue1;
      }
      > a {
        padding: 16px 14px;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Droid Sans',sans-serif;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        text-transform: uppercase;
        &:hover, &:active {
          color: $color-gray1;
          background: $color-blue1;
        }
      }
    }
  }
}
