/******** header, navbar **************/
header {
  background: #303030;
  color: #fff;
}
.navbar-collapse {
  background: #a23338;
  padding: 0;
  .navbar-nav {
    li {
      a {
        color: #fff;
        &:hover, &:active, &:focus {
          background: #7B272B;
          color: #fff;
        }
      }
      &.open {
        a {
          &:hover, &:active, &:focus {
            background: #7B272B;
            color: #fff;
          }
        }
      }
    }
  }
}
.dropdown-menu {
  background: #7B272B;
  > li {
    > a {
      font-family:arial;
      font-size:13px;
      font-weight:bold;
      &:hover, &:active {
        color:#BAC5C6;
      }
    }
  }
}
