.navbar-collapse {
  @include  nav($color_steel_blue_approx,$white,$color_regent_gray_approx,$white,$white,$color_regent_gray_approx,$white,$white,$white,$dfs:null,$dfw:normal);
  color: $white;
  border-top: 1px solid $gallery;
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $white;
        border-top: 0 none;
      }
      > a {
        @extend %font-family;
        @media #{$mobile} {
          color: $white;
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color_regent_gray_approx;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color_regent_gray_approx;
        }

      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_regent_gray_approx;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        background: none;
        color: $white;
        font-weight: normal;
      }
    }
  }
}
