$color-white: #fff;
$color-black: #000;
$color-dark: #363B40;
$color-dark1: #42494F;
$color-dark2: #464D53;
$color-dark3: #2D3136;
$color-blue: #4CA5D9;
$color-light-gray: #E9E9E9;
$color-light-gray1: #D7DCE0;
$color-light-gray2: #9DA4AB;
