.navbar-collapse {
  @include nav($color_tundora_approx,$white,$color_mexican_red_approx,$white,$color-light-gray,
  $color_mexican_red_approx,$white,$white,$white);
  border-bottom: 8px solid $color_squirrel_approx;
  @media #{$mobile} {
    border: 0 none;
    background: none;
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  /***** navbar nav *****/
  .navbar-nav {
    background: $color_chicago_approx;
    width: 100%;
    @media #{$mobile} {
      background: $color_merlot_approx;
      margin: 0;
    }
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        font-size: 16px;
        text-transform: uppercase;
        font-family: $font_0, $font_1;
        @media #{$mobile} {
          color: $white;
        }
      }
    }
  }
}
