.search-block-form {
  .form-search {
    border-color: $color_chicago_approx;
  }
  .form-submit {
    background: $color_tundora_approx;
    border-color: $color_tundora_approx;
  }
}
.path-search {
  .title a {
    font-family: $font_0, $font_1;
  }
  .content-inner p {
    font-family: $font_0, $font_1;
  }
}
