/**** navbar background ****/
.navbar-collapse {
  background: $color-menu;
  padding: 0 !important;
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        // border-bottom: 1px solid $color-red;
        // border-top: 1px solid $color-red1;
      }
      > a {
        color: $color-white;
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color-gray2;
          color: $color-white;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color-gray2;
          color: $color-white;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color-gray2;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        color: $color-white;
        @media #{$mobile} {
          font-size: 19px;
          font-weight: normal;
        }
        &:hover, &:active {
          color: $color-submarine;
          background: $color-gray2;
          @media #{$mobile} {
            background: none;
          }
        }
      }
      &.active {
        a, a:hover {
          color: $color-submarine;
          background: $color-gray2;
          @media #{$mobile} {
            background: none;
          }
        }
      }
    }
  }
}
