/**** navbar background ****/
.navbar-collapse {
  @include nav($color-menu,$color-white,$color-gray2,$color-white,transparent,$color-gray2,
  $color-white,$color-white,$color-submarine);
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        &:hover, &:active {
          color: $color-submarine;
          @media #{$mobile} {
            background: none;
          }
        }
      }
      &.active {
        a, a:hover {
          background: $color-gray2;
        }
      }
    }
  }
}
