.node-readmore {
  a {
    border-bottom: none;
    font-weight: bold;
    padding-right: 11px;
    position: relative;
    z-index: 9;
    text-decoration: none;
    font-size: .90em;
    &:after {
      background: url("../../os_base/images/basesprite.png") no-repeat 3px -570px;
      padding-right: 11px;
      content: '';
    }
  }
}
