<h1 class="dummy-header">John Fitzgerald Kennedy</h1>
<div class="dummy-slider">
  <div class="dummy-content">
    <div class="dummy-professional-title">commander of Motor Torpedo Boats PT-109 and PT-59 during World War II<br />Massachusetts's 11th congressional district</div>
  </div>
  <div>Often referred to by his initials JFK, was the 35th President of the United States, serving from 1961 until his assassination in 1963.</div>
  <div>555-1234</div>
  <div><a>example@address.com</a></div>
  <div><a class="profile-link">Full Profile</a></div>
</div>
