<div class="dummy-person-photo">
  {{ image }}
</div>
<div class="dummy-content">
  <h1><a>John Fitzgerald Kennedy</a></h1>
  <div class="dummy-professional-title">commander of Motor Torpedo Boats PT-109 and PT-59 during World War II<br />Massachusetts's 11th congressional district</div>
</div>
