@import 'base/variables';
@import 'base/base';

@import 'global/global';

@import 'components/header';
@import 'components/footer';
@import 'components/sidebar';
@import 'components/breadcrumb';
@import 'components/navbar';
@import 'components/search';

@import 'pages/search'
