/**** navbar background ****/
.navbar-collapse {
  @include nav($color-dark,$color-white,$color-dark1,$color-white,$color-dark3,$color-white,$color-white,$color-white);
  border-top: 3px solid $color-dark2;
  border-bottom: 1px solid $color-dark2;
  /***** navbar nav *****/
  .navbar-nav {
    margin-top: -3px;
    > li {
      > a {
        color: $color-white;
        border-top: 3px solid transparent;
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          border-top-color: $color-blue;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          border-top-color: $color-blue;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        font-weight: normal;
        font-size: 14px;
        @media #{$mobile} {
          font-size: 19px;
          font-weight: normal;
        }
      }
    }
  }
}
