.navbar-collapse {
  @include nav($white,$color_mine_shaft_approx,$color_mine_shaft_approx,$white,$white,$color_mine_shaft_approx,
  $white,$color-gray,$white,13px,bold,1.1em,normal);
  border-top: 3px solid $color_mine_shaft_approx;
  border-bottom: 1px solid $color_alto_approx;
  @media #{$mobile} {
    border: 0;
  }
  /***** navbar nav *****/
  .navbar-nav {
    @media #{$mobile} {
      background: #f3f3f1;
    }
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $white;
        border-top: 0 none;
      }
      > a {
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background-color: $color_mine_shaft_approx;
          @media #{$mobile} {
            margin-top: 0px !important;
          }
        }

      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        background: none;
        font-family: 'Montserrat',sans-serif;
        @media #{$mobile} {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: normal;
        }
        &:hover, &:active {
          @media #{$mobile} {
            color: $color-gray;
          }
        }
      }
    }
  }
}
