.path-front {
  .content-inner {
    .content-first {
      background: $white;
    }
    .content-bottom {
      background: $color_indian_khaki_22_approx;
    }
  }
  .content-second {
    background-color: $color_mountain_mist_approx;
    color: $white;
    span {
      background-color: $color_mountain_mist_approx;
      color: $white;
    }
    a {
      background-color: $color_mountain_mist_approx;
      color: $white;
    }
  }
}
.main-container .content-inner {
  h2 {
    font-family: $font_0, $font_1;
  }
  h3 {
    font-family: $font_0, $font_1;
  }
  h4 {
    font-family: $font_0, $font_1;
  }
}
.contextual .trigger {
  color: $black;
}
