/**** default variables ****/
$color-text: #444444;
$color-white: #fff;
$color-black: #000;
$color-menu: #696259;
$color-menu-hover: #BAC5C6;
$color-gray: #333;
$color-gray1: #ccc;
$color-blue: #407cb5;
$color-light-gray1: #f3f2f1;
$color-light-gray2: #f9f8f6;
$color-silver-rust: #cdc7c3;
