@import url(https://fonts.googleapis.com/css?family=Droid+Sans); html,
body,
.field--item span {
  color: #000;
}
.header-container ul.nav a,
a,
a:visited {
  color: #52854c;
}
body,
.page-title,
.node--title,
.path-search .title a,
.more-link,
.links a,
aside .nav a,
.main-container .content-inner h2,
.main-container .content-inner h3,
.main-container .content-inner h4,
footer ul.nav li ul li a,
h2.block-title,
.navbar-collapse .navbar-nav > li > a,
footer ul.nav a,
footer a {
  font-family: 'Droid Sans', sans-serif !important;
}
.path-front .content-inner .region-content-first {
  background: #fff;
}

footer {
  background-color: #d16103;
}
.path-front .region-content-second span,
.path-front .region-content-second {
  background-color: #999;
}
footer a,
footer,
footer .footer-login,
.path-front .region-content-second a,
.path-front .region-content-second span,
.path-front .region-content-second {
  color: #fff;
}
header,
.navbar-collapse {
  background: #f3f3f1;
}
.path-front .content-inner .region-content-bottom {
  background: rgba(186, 175, 134, 0.22);
}
.navbar-collapse .navbar-nav > li a,
.navbar-collapse .navbar-nav > li > a ul li a.active,
.navbar-collapse .navbar-nav > li > a.active,
.navbar-collapse .navbar-nav > li > a:hover,
.navbar-collapse .navbar-nav > li > a {
  color: #52854c;
  text-transform: none;
  font-weight: bold;
  font-size: 1.25em;
}
.navbar-collapse .navbar-nav li > a.active,
.navbar-collapse .navbar-nav li > a:hover,
.navbar-collapse .navbar-nav li.dropdown > a,
.navbar-collapse .navbar-nav li.dropdown > a:hover,
.navbar-collapse .navbar-nav li.dropdown > a.active {
  background-color: #fff;
  border-top: 4px solid #52854c;
  color: #52854c;
  padding: 12px 15px 16px 15px;
}
.navbar-collapse .navbar-nav li.dropdown ul {
  background: #fff;
  border-left: 1px solid #f3f3f1;
  border-right: 1px solid #f3f3f1;
  border-bottom: 1px solid #f3f3f1;
}
.navbar-collapse .navbar-nav li.dropdown ul li a {
  color: #52854c;
  border-top: 0;
  padding: 12px 15px 16px 15px;
}

.field--name-body h2,
h1.page-title,
aside h2.block-title {
  font-weight: normal;
}
.field--name-body h2 {
  margin-bottom: 8px;
}
aside .nav > a {
  background-color: #f3f3f1 !important;
  color: #52854c !important;
  border-bottom: 1px solid #d7d7d7 !important;
}
footer .footer-login {
  text-shadow: none;
}
footer .footer-login:after {
  background-image: none;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main,
.fc-listPast-view .fc-list-heading .fc-list-heading-main {
  border-top-color: #d16103;
}
.path-front .fc-listUpcoming-view .fc-list-heading .fc-list-heading-main span.event-start-month,
.fc-listPast-view .fc-list-heading .fc-list-heading-main span.event-start-month,
.path-front .fc-listUpcoming-view .fc-list-heading .fc-list-heading-main span.event-start-day,
.fc-listPast-view .fc-list-heading .fc-list-heading-main span.event-start-day {
  color: #555;
}

.node-readmore a,
.more-link {
  text-decoration: underline;
}
a.node-readmore a:after,
.more-link:after {
  background: none;
  background-image: none;
}
.search-block-form .form-submit {
  background-color: #52854c;
}
