//colors
$white: #fff;
$color_pizza_approx: #6b5417;
$color_alto_approx: #dededc;
$color_shark_approx: #262829;
$wild_sand: #f4f4f4;
$color_submarine_approx: #bac5c6;
$color_st_tropaz_approx: #215990;
$color_hokey_pokey_approx: #c39936;
$color_tundora_approx: #444;

//fonts
$font_0: Cabin;
$font_1: helvetica;
$font_2: Palatino Linotype;
$font_3: Book Antiqua;
$font_4: Times New Roman;
$font_5: serif;
