@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  color: $color-gray;
}
/* Elements */
h1, h2, h3 {
  font-weight: normal;
}
