@import url(https://fonts.googleapis.com/css?family=Montserrat);

body,
.fc-header-toolbar h2,
.fc-header-toolbar button {
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  color: $color-gray;
}

/* Elements */
h1,
h2,
h3 {
  font-weight: normal;
}

.fc-header-toolbar h2 {
  padding-bottom: 0;
  font-family: 'Montserrat', sans-serif !important;
}
