$color-white: #fff;
$color-black: #000;
$color-gray: #444;
$color-gray1: #333;
$color-gray2: #4a4a4a;
$color-gray3: #c7c7c7;
$color-menu: #787878;
$color-submarine: #BAC5C6;
$color-light-gray: #F5F5F5;
$color-light-gray1: #e7e7e7;
$color-light-gray2: #d4d4d2;
$color-blue: #215990;
