/**** default variables ****/
$color-white: #fff;
$color-black: #000;
$color-light-gray1: #fdfdfd;
$color-light-gray2: #F3F3F1;
$color-link: #2769AC;
$color-gray: #292929;
$color-gray1: #666666;
$color-gray2: #3b484d;
