

#site-creation-container .preNx {
-webkit-transition: all .125s linear;
    -moz-transition: all .125s linear;
    -o-transition: all .125s linear;
    transition: all .125s linear;
}


#site-creation-container {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    margin: auto;
    width: 60%;
    padding: 20px;
}

#site-creation-container h1 {
    font-size: 2em;
}

#site-creation-container h2 {
    font-size: 1.3em;
}


h1,
h2,
h3 {
    font-weight: normal;
}
#site-creation-container a,
#site-creation-container .preNxt {
    color: #215990;
}
#site-creation-container #header-container-page-1,
#site-creation-container #header-container-page2,
#site-creation-container #header-container-page3 {
    padding: 5px;
}
#site-creation-container #footer-container,
#site-creation-container #body-container-group-2,
#site-creation-container #body-container-group-3,
#site-creation-container #body-container-group-1,
#site-creation-container #body-container-page2,
#site-creation-container #body-container-page3,
#site-creation-container #header-container-group-1,
#site-creation-container #header-container-group-2,
#site-creation-container #header-container-group-1-page2,
#site-creation-container #header-container-group-2-page2,
#site-creation-container #header-container-group-1-page3,
#site-creation-container #header-container-group-2-page3 {
    overflow: hidden;
}
#site-creation-container #header-container-group-3,
#site-creation-container #header-container-group-3-page-2,
#site-creation-container #header-container-group-3-page-3 {
    margin: 15px 5px 5px;
}
.starter-content .form-type-radio,
#site-creation-container .preNxt,
#site-creation-container .step.disable,
#site-creation-container .site-type,
#site-creation-container #body-container-group-2,
#site-creation-container #body-container-group-3 {
    background-color: #efefef;
}
.os-themes,
#site-creation-container #footer-container div#nxt,
#site-creation-container #footer-container div#pre,
#site-creation-container .visibility,
#site-creation-container .step-container,
#site-creation-container .site-type,
#site-creation-container .left,
.os-themes .cp-themes {
    float: left;
}
.os-themes .theme-info .form-type-select,
.os-themes .theme-info .cp-appearance-flavor-list,
#site-creation-container .right {
    float: right;
}

.starter-content .form-type-radio {
    position: relative;
}

.starter-content .form-type-radio {
    margin-right: 25px;
    padding: 15px;
        
}
#site-creation-container .site-type:last-child,
.starter-content .form-type-radio:last-child {
    margin-right: 0;
}
.starter-content.four .form-type-radio {
    width:18.8%;
}

.starter-content.two .form-type-radio {
    width: 47%;
}
.starter-content.three .form-type-radio {
    width: 27%;
}

.starter-content label {
    float: left;
    background-color: #EFEFEF;
    border-radius: 2px;
    overflow: auto;
    position:absolute;
    bottom:20px;
}
.starter-content label span {
    text-align: center;
    padding: 8px 16px;
    display: block;
}
.starter-content label input {
    position: absolute;
    top: -1000px;
}
.starter-content input ~ span {
    background-color: #888;
    color: #fff;
    border-radius:2px;
}
.starter-content input ~ span:hover,
.starter-content input:checked ~ span {
    background-color: #444;
    color: #FFF;

}
.starter-content input ~ span:after {
    content:'Select';
}
.starter-content input:checked ~ span:after {
    content:'Selected';
}
#site-creation-container .step-container {
    padding: 3px 10px;
    width: 30%;
    font-size: 1.2em;
}
#site-creation-container .clear {
    clear: both;
}
#site-creation-container .preNxt,
#site-creation-container .step,
#site-creation-container a.button,
#site-creation-container a:hover.button,
#site-creation-container .center {
    text-align: center;
}
.starter-content .form-type-radio,
#site-creation-container .preNxt,
#site-creation-container .step,
#site-creation-container a:hover.button,
#site-creation-container a.button,
#site-creation-container .site-type,
.os-themes .cp-themes {
    display: inline-block;
}
#site-creation-container #body-container {
    height: 382px;
}
#site-creation-container #body-container-group-1 {
    height: 130px;
}
#site-creation-container #body-container-page2,
#site-creation-container #body-container-page3 {
    height: 393px;
}
#site-creation-container #body-container-group-2,
#site-creation-container #body-container-group-3 {
    margin: 5px;
}
#site-creation-container .preNxt,
#site-creation-container .step,
#site-creation-container a:hover.button,
#site-creation-container a,
#site-creation-container a:visited,
#site-creation-container a.button {
    text-decoration: none;
}
#site-creation-container a:hover.button,
#site-creation-container a.button {
    background: none;
}
#site-creation-container .preNxt:hover {

background-color: #215990;
color:#fff;
}


#site-creation-container .visibility {
    margin: 3px;
    padding: 4px;
    vertical-align: bottom;
}
#site-creation-container .site-type {
       padding: 20px 0;
    width: 29%;
    margin: 0 20px;
}
#site-creation-container a:hover {
    text-decoration: underline;
    cursor: pointer;
}
#site-creation-container a.button {
    margin: 0;
    background-color: #888;
    border: none;
    color: white;
    padding: 8px 16px;
}
#site-creation-container a:hover.button {
    margin: 0;
    background-color: #444;
    border: none;
    color: white;
    padding: 8px 16px;
}
#site-creation-container #footer-container div#pre {
    padding: 4px 12px;
    padding: 4px 12px;
    width: 400px;
}
#site-creation-container #footer-container div#nxt {
    text-align: right;
    padding: 4px 12px;
    padding: 4px 12px;
    width: 400px;
}
#site-creation-container .popup {
    margin: 0px 5px;
    padding: 8px;
    text-align: left;
}
#site-creation-container .error-msg {
    color: red;
    padding: 5px;
}
#site-creation-container .step {
    background-color: #4CAF50;
    border: none;
    color: white;
    /* padding: 10px 16px; */
    
    border-radius: 50%;
    font-weight: bold;
    height: 50px;
    width: 50px;
    /* padding: 15px 15px; */
    
    line-height: 50px;
}
#site-creation-container .step.enable {
    background-color: #4CAF50;
}
#site-creation-container .step.disable {
    color: #333;
}
#site-creation-container .preNxt {
    border: none;
    padding: 10px 16px;
    border-radius: 3px;
}
/*
#site-creation-container #nxt .preNxt:after {
    content: '→';
    position: absolute;
    right: 45px;
    font-size: 1.5em;
}
#site-creation-container #pre .preNxt:before {
    content: '←';
    position: absolute;
    left: 45px;
    font-size: 1.5em;
}*/

#site-creation-container .preNxt:disabled {
    display: none;
}
#site-creation-container p {
    margin: 1em 0;
    padding: 0;
}
#site-creation-container #body-container-page3 {
    overflow: scroll;
}
.os-themes .cp-themes {
    padding: 0;
    margin: 3px 20px 30px 3px;
    vertical-align: top;
    width: 245px;
    height: 300px;
    position: relative;
    -moz-box-shadow: 0 0 7px #888;
    -webkit-box-shadow: 0 0 7px #888;
    box-shadow: 0 0 7px #888;
    color: #fff;
    cursor: pointer;
}
.os-themes .cp-themes.selected {
    -moz-box-shadow: 0 0 30px #4a7d06;
    -webkit-box-shadow: 0 0 30px #4a7d06;
    box-shadow: 0 0 30px #4a7d06;
}
.os-themes .theme-info {
    position: absolute;
    background: #3f74a2;
    border-top: 1px solid #2a6598;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 12px;
    height: 15px;
}
.os-themes .theme-info .cp-appearance-flavor-list {
    text-align: right;
}
.os-themes .theme-info .form-type-select {
    margin: -4px 0 0 10px;
    width: 60%;
    padding: 2px 0;
}
.os-themes .theme-info .form-type-select select {
    max-width: 90px;
}