//colors
$seashell: #f1f1f1;
$white: #fff;
$color_alabaster_approx: #f9f9f9;
$color_log_cabin_approx: #222;
$color_fern_green_approx: #457141;
$color_red_stage_approx: #d16103;
$color_cape_cod_approx: #414141;

//fonts
$font_0: Open Sans;
$font_1: Georgia;
