//colors
$white: #fff;
$color_pizza_approx: #c4961a;
$color_alto_approx: #dededc;
$color_shark_approx: #262829;
$wild_sand: #f4f4f4;
$color_submarine_approx: #bac5c6;
$color_st_tropaz_approx: #215990;
$color_hokey_pokey_approx: #c39936;
$color_tundora_approx: #444;

//fonts
$font_0: Cabin;
$font_1: helvetica;
$font_2: Palatino Linotype;
$font_3: Book Antiqua;
$font_4: Times New Roman;
$font_5: serif;

//@extend-elements
%extend_1 {
  border: 1px solid $color_alto_approx;
  background: $white;
  box-shadow: none;
  border-radius: 0;
}

%extend_2 {
  background: $color_shark_approx;
  filter: none;
  color: $white;
}

@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
  font-family: $font_0, $font_1;

  &.front .main-container {
    background: $white;
  }
}

.not-front {
  .field--name-body {
    font-family: $font_0, $font_1;
  }

  .content-inner {
    @extend %extend_1;
  }
}

.content-inner {
  p {
    font-family: $font_0, $font_1;
  }

  li {
    font-family: $font_0, $font_1;
  }
}

.main-container {
  background: $white;
  background: $white;
}

.path-front {
  .content-inner {
    .block-title {
      background: $white;
      color: $color_pizza_approx;
    }

    .block {
      @extend %extend_1;
    }
  }

  &.no-sidebars .region-content-top .block-boxes-os_slideshow_box:after {
    background: $wild_sand;
  }
}

aside {
  .block-title {
    background: $white;
    color: $color_pizza_approx;
  }

  .row>.block {
    @extend %extend_1;
  }
}

#boxes-box-site_info {
  color: $white;
  font-family: $font_2, $font_3, $font_4, $font_5;

  a {
    color: $white;
    font-family: $font_2, $font_3, $font_4, $font_5;
  }
}

footer {
  color: $white;
  @extend %extend_2;

  a {
    color: $white;
  }
}

.header-container {
  @extend %extend_2;

  ul.nav li a {
    color: $white;
  }

  .search-block-form label {
    color: $color_submarine_approx;
  }
}

.navbar-collapse {
  padding: 0 !important;
  @extend %extend_2;

  .region-navigation-collapsible {
    border-radius: 0;
    box-shadow: none;
    @extend %extend_2;
  }

  ul {
    &.nav {
      li {
        a {
          @extend %extend_2;
        }

        &.dropdown:hover a {
          background: $color_pizza_approx;
        }
      }

      a {
        color: $white;
        font-family: $font_1;

        &:hover {
          background: $color_pizza_approx;
        }

        &.active {
          background: $color_pizza_approx;
        }
      }

      .dropdown {
        a {
          color: $white;
          font-family: $font_1;

          &.is-active {
            background: $color_pizza_approx;
          }
        }

        ul li a {
          background: $color_pizza_approx;
          color: $white;

          &.is-active {
            background: $color_pizza_approx;
          }

          &:hover {
            background: $color_pizza_approx;
          }
        }
      }

      ul {
        background: $color_pizza_approx;
      }
    }

    a {
      color: $white;
      font-family: $font_1;
    }

    >li>a {
      &:hover {
        background: $color_pizza_approx;
      }

      &.is-active {
        background: $color_pizza_approx;
      }
    }
  }
}

.breadcrumb {
  color: $color_st_tropaz_approx;

  a {
    color: $color_st_tropaz_approx;
  }
}

.block-boxes-os_slideshow_box {
  .add_new {
    top: 0;
    z-index: 5;
    background-color: $color_st_tropaz_approx;
    color: $white;
    padding: 0 5px;
    font-size: .9em;
  }

  .slide {
    background: $color_hokey_pokey_approx;
  }
}

.cke_editable * {
  font-family: $font_0, $font_1;
}

h1.page-header {
  color: $color_pizza_approx;
}

.path-node .content-inner {
  @extend %extend_1;
}

.search-block-form .form-submit {
  background: $color_pizza_approx;
  border-color: $color_pizza_approx;
}

.section-nav .menu-depth-1>a {
  background: $color_pizza_approx;
}

a.rslides_nav {
  background-color: $color_tundora_approx;
}
