@import '../../os_base/scss/base/breakpoints';

//colors
$white: #fff;
$color_pizza_approx: #6b5417;
$color_alto_approx: #dededc;
$color_shark_approx: #262829;
$wild_sand: #f4f4f4;
$color_submarine_approx: #bac5c6;
$color_st_tropaz_approx: #215990;
$color_hokey_pokey_approx: #c39936;
$color_tundora_approx: #444;

//fonts
$font_0: Cabin;
$font_1: helvetica;
$font_2: Palatino Linotype;
$font_3: Book Antiqua;
$font_4: Times New Roman;
$font_5: serif;

//@extend-elements
%extend_1 {
  border: 1px solid $color_alto_approx;
  background: $white;
  box-shadow: none;
  border-radius: 0;
}

%extend_2 {
  background: $color_shark_approx;
  filter: none;
  color: $white;
}

@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
  font-family: $font_0, $font_1;

  &.front .main-container {
    background: $white;
  }
}

.not-front {
  .field--name-body {
    font-family: $font_0, $font_1;
  }

  .main-container section .content-inner {
    @extend %extend_1;
  }
}

.main-container {
  margin-top: 40px;
}

.content-inner {
  p {
    font-family: $font_0, $font_1;
  }

  li {
    font-family: $font_0, $font_1;
  }
}

.main-container {
  background: $white;

  &:before {
    background: none;
    position: unset;
  }
}

.path-front {
  .content-inner {
    .block-title {
      background: $white;
      color: $color_pizza_approx;
    }

    .block {
      @extend %extend_1;
    }
  }

  &.no-sidebars .region-content-top .block-boxes-os_slideshow_box:after {
    background: $wild_sand;
  }
}

aside {
  .block-title {
    background: $white;
    color: $color_pizza_approx;
  }

  .row>.block {
    @extend %extend_1;
  }
}

#boxes-box-site_info {
  color: $white;
  font-family: $font_2, $font_3, $font_4, $font_5;

  a {
    color: $white;
    font-family: $font_2, $font_3, $font_4, $font_5;
  }
}

footer {
  color: $white;
  @extend %extend_2;

  a {
    color: $white;
  }
}

.header-container {
  @extend %extend_2;

  ul.nav li a {
    color: $white;
  }

  .search-block-form label {
    color: $color_submarine_approx;
  }
}

.navbar-collapse {
  padding: 0 !important;
  @extend %extend_2;

  .region-navigation-collapsible {
    border-radius: 0;
    box-shadow: none;
    @extend %extend_2;

  }

  /***** navbar nav *****/
  .navbar-nav {
    >li {
      @media #{$mobile} {
        border-bottom: 1px solid $white;
        border-top: 0 none;
      }

      >a {
        @extend %extend_2;
        color: $white;
        font-family: $font_1;

        &:hover,
        &:active,
        &:focus,
        &.is-active,
        &.is-active:hover {
          background: $color_pizza_approx;
        }
      }

      &.open,
      &.active {

        >a,
        >a:hover,
        >a:active,
        >a:focus {
          background: $color_pizza_approx;
        }

      }
    }
  }

  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_pizza_approx;

    @media #{$mobile} {
      background: none;
    }

    >li {
      >a {
        background: $color_pizza_approx;
        color: $white;

        @media #{$mobile} {
          background: none;
        }

        &:hover,
        &:active {
          background: $color_pizza_approx;

          @media #{$mobile} {
            color: $white;
          }
        }
      }

      &.active {
        a {
          background: $color_pizza_approx;
          color: $white;

          @media #{$mobile} {
            color: $white;
            background: none;
          }

          &:hover {
            @media #{$mobile} {
              color: $white;
              background: none;
            }
          }
        }
      }
    }
  }
}

.breadcrumb {
  color: $color_st_tropaz_approx;

  a {
    color: $color_st_tropaz_approx;
  }
}

.block-boxes-os_slideshow_box {
  .add_new {
    top: 0;
    z-index: 5;
    background-color: $color_st_tropaz_approx;
    color: $white;
    padding: 0 5px;
    font-size: .9em;
  }

  .slide {
    background: $color_hokey_pokey_approx;
  }
}

.cke_editable * {
  font-family: $font_0, $font_1;
}

h1.page-header {
  color: $color_pizza_approx;
}

.path-node .content-inner {
  @extend %extend_1;
}

.search-block-form .form-submit {
  background: $color_pizza_approx;
  border-color: $color_pizza_approx;
}

.section-nav .menu-depth-1>a {
  background: $color_pizza_approx;
}

a.rslides_nav {
  background-color: $color_tundora_approx;
}
