//colors
$white: #fff;
$color_woodsmoke_approx: #111111;
$color_masala_approx: #3d3d3d;
$color_tundora_approx: #444;
$color_mine_shaft_approx: #333333;
$color_st_tropaz_approx: #215990;

//fonts
$font_0: Open Sans;
$font_1: Helvetica;
$font_2: sans-serif;
