.navbar-collapse {
  background: #a51c30;
  padding: 0 !important;
}
.navbar-collapse ul.nav ul,
.navbar-collapse ul.nav a.is-active,
.navbar-collapse ul.nav a:hover,
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.is-active {
  background: #7b272b;
}
.navbar-collapse ul.nav a {
  color: #fff;
  font-size: 19px;
}
.navbar-collapse ul.nav li {
  margin-right: 15px;
}
.navbar-collapse ul.nav .dropdown ul li a.is-active,
.navbar-collapse ul.nav .dropdown ul li a {
  color: #fff;
}
.navbar-collapse ul.nav .dropdown ul li a:hover {
  color: #fff;
  text-decoration: underline !important;
}
.header-container {
  background: #f3f3f1;
}
.header-container ul.nav a {
  color: #a51c30;
  font-size: 12px;
}
aside .block,
.path-front .content-inner .block,
.content-inner .block.block-boxes-os_boxes_columns .block,
.path-person .block-inner,
.comment-wrapper {
  border-top: 3px solid #78777b;
}
.cke_editable h2,
.cke_editable h3,
.cke_editable h4,
.content-inner .field-name-body h2,
h2.block-title {
  color: #a51c30;
}
aside .nav > a {
  background: #a51c30 !important;
}
aside .nav > a {
  background-color: #d16103;
}
