//variables
$color_blue: #3e77bb;
$color-white: #fff;
$color-light-gray: #efefef;
$color-link: #215990;
$color-gray: #565656;

.toolbar {
  .toolbar-tray-vertical {
    background-color: $color-white;
    border-right: 1px solid $color-light-gray;
    box-shadow: none;
    .menu-item+.menu-item {
      border-top: none;
    }
    .toolbar-tray {
      a {
        padding: 1.3em 1.3333em;
      }
    }
  }
  .toolbar-bar {
    background-color: $color-blue;
    box-shadow: -1px 0 3px 1px rgba(183, 183, 183, 0.3333);
    .toolbar-item {
      color: $color-white;
    }
    .toolbar-tab {
      > .toolbar-item.is-active {
          background-image: none;
        }
    }
  }
  .toolbar-toggle-orientation {
    background: $color-white;
  }
  .toolbar-tray {
    a {
      color: $color-gray;
    }
  }
}
.seven-details__summary {
  color: $color-link;
}
