.button.button--primary {
  border-color: $color-link;
  background-color: $color-link;
  background-image: -webkit-linear-gradient(top, $color-link, $color-link);
  background-image: linear-gradient(to bottom, $color-link, $color-link);
  padding: 8px 25px;
  border-radius: 2px;
}
.button,
.button:hover {
padding: 8px 20px;
border: none;
border-radius: 2px;
background-color: $color-gray2;;
background-image: -webkit-linear-gradient(top, $color-light-gray4, $color-light-gray5);
background-image: none;
color: $color-white;
text-shadow: none;
}
