.entity-meta__header {
  background-color: $color-light-gray3;
  border-top: 1px solid $color-light-gray2;
  border-bottom: 1px solid $color-light-gray2;
}
.entity-meta {
  background-color: $color-light-gray3;
  border-left: 1px solid $color-light-gray2;
  border-right: 1px solid $color-light-gray2;
  .seven-details[open] {
    background-color: #fff;
    background-image: none;
    background-image: none;
  }
  .seven-details {
    @extend .entity-meta__header;
    &:focus-within {
      outline: 1px solid;
    }
  }
}
.seven-details {
  border: 1px solid $color-light-gray2;
}
