.fullcalendar {
  .fc-center {
    margin: 20px 0 0 0;
  }
}

/**** mini calendar ****/
.block {
  .fc-row {
    &.ui-widget-header {
      th {
        background: white;
        font-size: 12px;
      }
    }
  }
  .fc {
    .fc-body {
      border: 1px solid #cacaca;
      font-size: 14px;
      td {
        border: 0 none;
      }
      .fc-row {
        height: auto !important;
        min-height: unset;
        .fc-content-skeleton {
          td {
            vertical-align: middle;
            text-align: center;
            .fc-day-number{
              float: none;
            }
          }
        }
      }
      .fc-scroller.fc-day-grid-container {
        height: auto !important;
      }
    }
  }
}
