/**** mini calendar ****/
aside {
  .block {
    .fc-row {
      &.ui-widget-header {
        th {
          background: white;
          font-size: 12px;
        }
      }
    }
    .fc {
      .fc-body {
        border: 1px solid #cacaca;
        font-size: 14px;
        td {
          border: 0 none;
        }
        .fc-row {
          height: auto !important;
          min-height: unset;
          .fc-content-skeleton {
            td {
              vertical-align: middle;
              text-align: center;
              .fc-day-number {
                float: none;
              }
            }
          }
        }
        .fc-scroller.fc-day-grid-container {
          height: auto !important;
        }
      }
    }
  }
}
.mini-calendar {
  .fc-header-toolbar {
    margin-bottom: 5px;
  }
  .fc-left {
    display: none;
  }
  .fc-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-left: 0;
    }
  }
}
/**** calendar prev next ****/
.fc-header-toolbar {
  .ui-button {
    &.fc-prev-button {
      background: none;
      border: 0 none;
      .ui-icon {
        background-position: 0 -480px;
      }
    }
    &.fc-next-button {
      background: none;
      border: 0 none;
      .ui-icon {
        background-position: -15px -480px;
      }
    }
    &:hover,
    &:focus {
      .ui-icon {
        background-image: url(../../../themes/os_base/images/basesprite.png);
      }
    }
  }
  .ui-icon {
    background: url(../../../themes/os_base/images/basesprite.png) no-repeat;
    width: 15px;
    height: 13px;
    display: inline-block;
  }
}

/***** full caldenar *****/
.fc-day-grid-event {
  .fc-content {
    display: flex;
  }
  .fc-title {
    white-space: nowrap;
    overflow: hidden;
    flex: 1 0 70%;
    text-overflow: ellipsis;
    order: 1;
  }
  .fc-time {
    order: 2;
  }
}
/**** full calender ****/
.full-calendar-view  {
  .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
      padding-bottom: 0;
    }
    .fc-center {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 17px;
    }
    button {
      margin: 0;
      background: $color-light-gray4;
      border: 1px solid $color-light-gray5;
      border-radius: 0;
      &.ui-state-active {
        background: $color-white;
        color: $color-black;
      }
      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }
      &:last-child {
        border-radius: 0px 4px 4px 0px;
      }
    }
  }
  .field--name-field-location, .field--name-field-recurring-date {
    display: flex;
    .field--label {
      margin-right: 4px;
    }
  }
}
/**** code for day event ****/
.fc-listUpcoming-view, .fc-listWeek-view, .fc-listDay-view, .fc-listPast-view {
  .fc-event-default,
  .fc-event-default .fc-event-skin,
  .fc-event-default .fc-event-time {
    border-color: transparent;
    border-style: solid;
    background-color: transparent;
    color: initial;
    a {
      background: none;
      border: 0 none;
    }
  }
}

/**** code for upcoming/past events ****/
.fc-listUpcoming-view, .fc-listPast-view  {
  border: 0;
  .fc-scroller {
    height: auto !important;
  }
  tbody {
    display: flex;
    flex-wrap: wrap;
    .fc-list-heading {
      display: flex;
      flex: 0 0 10%;
      .ui-widget-header {
        background: none;
        border: 0 none;
      }
    }
    .fc-list-item-parent {
      display: flex;
      flex: 1 1 90%;
      flex-wrap: wrap;
      flex-direction: column;
      .content {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $color-light-gray;
      }
    }
  }
}

/**** modal body ****/
.modal-body {
  .events.full {
    .field--name-field-location, .field--name-field-recurring-date {
      display: flex;
      .field--label {
        margin-right: 4px;
      }
    }
  }
}
