/**
 * Navbar styling.
 */
$mobile:          "screen and (max-width: #{$screen-xs-max})";
$tablet:          "screen and (min-width: #{$screen-sm-min})";
$normal:          "screen and (min-width: #{$screen-md-min})";
$wide:            "screen and (min-width: #{$screen-lg-min})";
$grid-breakpoint: "screen and (min-width: #{$grid-float-breakpoint})";
@import '../mixins/navchild-padding';

body {
  // Fix horizontal scrolling on iOS devices.
  // https://www.drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    //margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}
.navbar.container {
  @media #{$tablet} {
    max-width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    max-width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    max-width: (($container-lg - $grid-gutter-width));
  }
}

// Branding.
.navbar .logo {
  margin-right: -($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  @media #{$grid-breakpoint} {
    margin-right: 0;
    padding-left: 0;
  }
}
nav {
  &:before, &:after {
    content: "";
    display: table;
    width: 100%;
  }
}
.navbar-collapse {
  padding: 0;
  .navbar-nav {
    > li {
      > a {
        padding: 16px 15px;
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  .row {
    margin: 0;
  }
  ul.dropdown-menu {
    .caret {
      transform: rotate(270deg);
    }
    .dropdown-menu {
      left: 100%;
      top: 0;
    }
  }
  .open {
    a {
      background: none;
    }
  }
  .dropmenu-child {
    display: none;
  }
}
@media #{$mobile} {
  .navbar-collapse {
    ul.navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
      .caret {
        display: none;
      }
      > li {
        > a {
          font-size: 20px;
          padding: 8px 16px;
        }
        &.active {
          a {
            margin-top: 1px;
          }
        }
        li {
          &.open {
            .dropdown-menu {
              > li {
                > a {
                  padding: 8px 16px;
                }
              }
            }
          }
        }
      }
      .dropdown-menu {
        background: none;
        padding-left: 0;
        li {
          padding-left: 0;
          a {
            line-height: 20px;
            border: 0 none;
          }
        }
        &.mopen {
          display: block;
        }
      }
      li {
        &.dropdown {
          .dropmenu-child {
            display: block;
            position: absolute;
            top: 0;
            right: 10px;
            width: 50px;
            font-family: "Glyphicons Halflings";
            background: none;
            padding: 0;
            text-align: center;
            height: 100%;
            padding-top: 6px;
            &.mopen {
              &:before {
                content: "\2212";
              }
            }
          }
        }
      }
    }
    ul.dropdown-menu {
      .dropdown-menu {
        left: 0;
        top: 0;
      }
    }
    .open {
      a {
        background: none;
      }
    }
    .container {
      padding: 0;
    }
  }
  /**** adding extra space after each ul ****/
  @include navchildpadding();
}
