/**** code for mini pager ****/
.pager {
  .next, .previous {
    > a, > span {
      float: none;
      border-radius: 0;
      font-weight: bold;
      font-size: 18px;
      padding: 5px 10px;
    }
  }
}
/**** full pager ****/
.pagination {
  > li {
    > a, a:hover,a:focus, span, span:hover, span:focus {
      color: $color-link1;
      background: $color-white;
    }
    &.active {
      a, a:hover {
        background: $color-link1;
        color: $color-white;
        border-color: $color-link1;
      }
    }
  }
}

