/** code added for taxonomy widget **/
.item-list {
  margin: 0 10px;
}

/** block type taxonomy menu **/
.block--type-taxonomy {
  .block-content {
    > .os-widgets-taxonomy-display-type-menu {
      border: 1px solid;
      border-top: 0;
      a {
        display: block;
        padding: .5em;
      }
    }
    .os-widgets-taxonomy-display-type-menu-item {
      a {
        font-weight: bold;
        &:hover {
          background: #e3e3e1;
        }
      }
      border-top: 1px solid;
      .item-list {
        a {
          padding-left: 19px;
        }
      }
      .item-list {
        margin: 0;
      }
    }
  }
}
/** block type taxonomy slider **/
.block--type-taxonomy {
  .block-content {
    .os-widgets-taxonomy-display-type-slider {
      > .os-widgets-taxonomy-display-type-slider-item {
        width: 100%;
        height: 40px;
        overflow: hidden;
        margin-bottom: 3px;
        background-color: #F3F3F1;
        position: relative;
        z-index: 1;
        opacity: .94;
        margin-left: 0;
        transition: all .5s;
        -webkit-transition: all .5s;
        .term-head {
          a {
            display: inline-flex;
            padding: 9px 28px 9px 12px;
            z-index: 2;
            position: relative;
            -webkit-transition: all .125s;
            transition: all .250s;
            background: url(../../../themes/os_base/images/link-icon.png) right -20px no-repeat;
          }
          &:hover {
            a {
              margin-left: 12px;
              padding: 9px 22px 9px 12px;
              background: url(../../../themes/os_base/images/link-icon.png) right 12px no-repeat;
            }
          }
        }
      }
    }
  }
}
