.node--teaser, .teaser {
  margin: 0 0 20px;
  padding: 20px 0 40px;
  border-bottom: 1px solid $color-light-gray;
  .node--title, h2 {
    margin-top: 0;
  }
}

.teaser--content {
  margin-top: 15px;
}

.node--title {
  a {
    display: inline-block;
  }
}
