.node--teaser, .teaser {
  margin: 0 0 20px;
  padding: 20px 0 40px;
  border-bottom: 1px solid $color-light-gray;
  &.events {
    margin: 0;
    padding: 0;
    border: 0 none;
  }
  .node--title, h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.node--title {
  a {
    display: inline-block;
  }
}
