.block-place-region.region.region-footer-bottom.ui-sortable {
  position: fixed;
  right: 0px;
  top: 25px;
  outline: 0;
  box-shadow: none;
  background: $color-light-gray9;
  padding: 10px;
  border: 1px solid $color-light-gray10;
  transition: top .3s ease;
  width: 240px;
  z-index: 9999;
  height: calc(100% - 40px);
  &:after {
    content: "";
  }
  label {
    margin: 10px 0 0 0;
    color: $color-gray5;
  }
  .toolbar-horizontal.toolbar-tray-open & {
    top: 64px;
    z-index: 99;
    #block-place-widget-selector-wrapper {
      height: calc(100vh - 270px);
    }
  }
  .select-wrapper {
    z-index: 0;
  }
}
#block-place-widget-selector-wrapper {
  padding: 0px;
  background: $color-light-gray9;
  border: 0;
  color: $color-gray5;
  height: calc(100vh - 230px);
}
#block-list {
  background-color: $color-white;
  border: 1px solid $color-light-gray10;
  height: calc(100% - 115px);
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  color: $color-black;
  padding: 10px;
  .block.ui-sortable-handle {
    border-bottom: 1px solid $color-light-gray10;
    padding: 5px 0;
  }
}
#factory-wrapper {
  background-color: $color-light-gray9;
  z-index: 10;
  .close {
    float: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: $color-link1;
    text-shadow: none;
    filter: alpha(opacity=1);
    opacity: 1;
    font-family: arial;
    position: absolute;
    right: 12px;
    top: 7px;
  }
}
#block-place-actions-wrapper {
  button {
    margin-right: 10px;
  }
}
#block-place-widget-selector-wrapper {
  a,
  a:hover {
    color: $color-gray5;
    text-decoration: none;
  }
  h3 {
    font-size: 1em;
    cursor: pointer;
    text-transform: capitalize;
  }
  #factory-wrapper {
    ul.links {
      list-style-type: none;
      margin-left: 4px;
      margin-top: 10px;
      li {
        padding: .5em 0;
        display: block;
        a {
          &:before {
            content: "";
            background: url(../../../themes/os_base/images/puzzle.png) no-repeat;
            height: 21px;
            width: 21px;
            position: absolute;
            left: 7px;
          }
        }
        &.addthis {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/add-this.png) no-repeat;
            }
          }
        }
        &.basic {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/basic-block.png) no-repeat;
            }
          }
        }
        &.custom-text-html {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/html.png) no-repeat;
            }
          }
        }
        &.embed-media {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/media.png) no-repeat;
            }
          }
        }
        &.publication-types {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/publication12.png) no-repeat;
            }
          }
        }
        &.featured-posts {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/featured-post.png) no-repeat;
            }
          }
        }
        &.media-gallery {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/media.png) no-repeat;
            }
          }
        }
        &.publication-years {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/date.png) no-repeat;
            }
          }
        }
        &.rss-feed {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/rss.png) no-repeat;
            }
          }
        }
        &.taxonomy {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/taxonomy-icon.png) no-repeat;
            }
          }
        }
        &.twitter-feed {
          a {
            &:before {
              background: url(../../../themes/os_base/images/widgets/twitter.png) no-repeat;
            }
          }
        }
      }
    }
  }
}
/**** code added for widgets type ****/
.modal {
  .modal-body {
    form.block-content-form {
      fieldset {
        padding: 10px;
        legend {
          float: left;
          width: 100%;
        }
      }
    }
    .tabbable {
      margin-top: 20px;
    }
    form.block-publication-types-form {
      fieldset {
        .form-type-checkbox {
          margin: 0;
          float: left;
          width: 50%;
        }
      }
    }
  }
}
