.path-front .region-content-second {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border: none;
}
.not-front .navbar-collapse {
  padding-bottom: 25px;
}
.navbar-collapse {
  .bg-one &{
    background: url(../images/bg1.jpg?457) center bottom -180px no-repeat $white;
  }
  .bg-two & {
    background: url(../images/bg2.jpg) center bottom -180px no-repeat $white;
  }
  .bg-three & {
    background: url(../images/bg3.jpg) center bottom -180px no-repeat $white;
  }
  .bg-four & {
    background: url(../images/bg4.jpg) center bottom -180px no-repeat $white;
  }
  .bg-five & {
    background: url(../images/bg5.jpg) center bottom -180px no-repeat $white;
  }
  .bg-six & {
    background: url(../images/bg6.jpg) center bottom -180px no-repeat $white;
  }
  .bg-seven & {
    background: url(../images/bg7.jpg) center bottom -180px no-repeat $white;
  }
  .bg-eight & {
    background: url(../images/bg8.jpg) center bottom -180px no-repeat $white;
  }
  .not-front & {
    padding-bottom: 25px;
  }
}
.search-block-form .form-submit {
  background: $color_endeavour_approx;
}
