body.page-os-frontpage {
	background-color: #f5f5f5;
	  margin: 0;
  padding: 0;
}


#landing-page-content-wrapper {
    width: 1025px;
    margin: 0 auto;
    background-color: #FFF;
}


#landing-page-content-wrapper .row {
    padding:10px;
}

#landing-page-content-wrapper .hero {
    text-align:center;
}