//colors
$color_gravel_approx: #4c4c4c;
$color_pampas_approx: #f6f5ee;
$color_thunderbird_approx: #c2230e;
$color_regent_gray_approx: #8996a0;
$white: #fff;
$color_gallery_approx: #f0f0ee;
$color_bon_jour_approx: #e4e0e0;
$color_fuscous_gray_approx: #555;
$color_rangoon_green_approx: #1e1e1e;
$color-light-gray: #f4f4f4;
$color-gray: #666;

//fonts
$font_0: helvetica;
$font_1: Georgia;
$font_2: Baskerville;
$font_3: Palatino;
$font_4: Palatino Linotype;
$font_5: Book Antiqua;
$font_6: Times New Roman;
$font_7: serif;
$font_8: arial !important;
