@import '../../os_base/scss/base/breakpoints';
@import './variables';
@import './base';
@import './../../os_base/scss/base/poweredby_common';

html {
  color: $color_gravel_approx;
}
body {
  background: $color_pampas_approx;
}
a {
  &.os-swipe-large {
    background-color: $color_thunderbird_approx;
  }
  &.os-swipe-small {
    background-color: $color_thunderbird_approx;
  }
  &.rslides_nav {
    background: $color_regent_gray_approx;
  }
}
.fc-header-toolbar {
  .ui-button {
    color: $color_thunderbird_approx;
    &:hover {
      color: $color_regent_gray_approx;
    }
  }
  h2 {
    @extend %font;
  }
}
.page-header {
  @extend %font;
}
.node--title {
  @extend %font;
}
.more-link {
  @extend %font;
  &:after {
    background-image: none;
  }
}
footer {
  background: $color_fuscous_gray_approx;
  color: $white;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
  .footer-login {
    color: $white;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    &:after {
      background-image: none;
    }
  }
  a {
    color: $white;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
  }
  ul.nav a {
    @extend %font;
    &.menu-heading {
      font-size: .99em;
    }
  }
}
aside {
  .nav a {
    @extend %font;
  }
  .region > .block {
    border-top: 1px solid $color_bon_jour_approx;
  }
}
aside .navbar-nav li .dropdown-menu a {
  color: $color_thunderbird_approx;
}
.content-inner {
  h2 {
    @extend %font;
  }
  h3 {
    @extend %font;
  }
  h4 {
    @extend %font;
  }
  .block.block-boxes-os_boxes_columns .block {
    border-top: 1px solid $color_bon_jour_approx;
  }
}
/**** navbar background ****/
.navbar-collapse {
  color: $color_gravel_approx;
  background: $white;
  border-bottom: 1px solid $color_bon_jour_approx;
  @media #{$mobile} {
    padding: 0 !important;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $color-light-gray;
        border-top: 0 none;
      }
      > a {
        @extend %font;
        color: $color_gravel_approx;
        @media #{$mobile} {
          color: black;
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          color: $white;
          background: $color_regent_gray_approx;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          color: $white;
          background: $color_regent_gray_approx;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_regent_gray_approx;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        color: $white;
        font-weight: normal;
        font-size: 15px;
        @media #{$mobile} {
          color: black;
          font-size: 19px;
          font-family: helvetica, Georgia, Baskerville, Palatino, Palatino Linotype, Book Antiqua, Times New Roman, serif;
          padding-left: 20px;
        }
        &:hover, &:active {
          color: #666;
          background: none;
          @media #{$mobile} {
            color: black;
          }
        }
      }
      &.active {
        a {
          color: $white;
          background: none;
          @media #{$mobile} {
            color: black;
          }
          &:hover {
            color: $color-gray;
            background: none;
            @media #{$mobile} {
              color: black;
            }
          }
        }
      }
    }
  }
}
.breadcrumb {
  @extend %font;
  letter-spacing: 0;
  color: $color_thunderbird_approx;
  a {
    @extend %font;
    letter-spacing: 0;
    color: $color_thunderbird_approx;
  }
}
.search-block-form {
  label {
    color: $color_gravel_approx;
  }
  .form-submit {
    background: $color_regent_gray_approx;
    border-color: $color_regent_gray_approx;
  }
}
.header-container {
  color: $color_gravel_approx;
  background: $color_gallery_approx;
}
.comment-wrapper {
  border-top: 1px solid $color_bon_jour_approx;
}
.events {
  .field--name-field-recurring-date {
    color: $color_rangoon_green_approx;
  }
  .field--name-field-location {
    color: $color_rangoon_green_approx;
  }
}
.ui-tabs .ui-widget-content a {
  color: $color_thunderbird_approx;
}
.biblio-title a {
  color: $color_thunderbird_approx;
}
.path-search .title a {
  @extend %font;
}
.links a {
  @extend %font;
}
.cke_editable * {
  @extend %font;
}
h2.block-title {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 900;
  font-family: $font_0, $font_8;
}
.header-container ul.nav li a {
  color: $color_gravel_approx;
}
.path-front .content-inner .block {
  border-top: 1px solid $color_bon_jour_approx;
}
.path-person .block-inner {
  border-top: 1px solid $color_bon_jour_approx;
}
.accordion .ui-widget-content {
  background: $white;
}
