@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
  background: $color-white;
  color: $color-text;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}

a,
a:visited,
.fc-header-toolbar .ui-button {
  color: $color-link;
}
