.navbar-collapse {
  @include nav($color_tundora_approx,$white,$color_tuatara_approx,$white,$color_alabaster_approx,$color_tundora_approx,$white,
  $white,$white);
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        @extend %font;
        font-family: $font_4, $font_5;
        text-decoration: none;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        text-decoration: none;
        @media #{$mobile} {
          font-family: $font_4, $font_5;
        }
        &:hover, &:active {
          color: $color-gray;
        }
      }
    }
  }
}
