.navbar-collapse {
  @include nav($white,$color_tundora_approx,$color_black_haze_approx,$color_tundora_approx,$white,
  $color_san_juan_approx,$white,$color_tundora_approx,$white);
  &.fixed {
    border-bottom: 1px solid $color_san_juan_approx;
  }
  /***** navbar nav *****/
  .nav.navbar-nav {
    @media #{$mobile} {
      background: $color-light-gray;
    }
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        font-family: $font_2, $font_1;
        border-bottom: 3px solid $white;
        padding: 16px 14px 13px;
        transition: all .125s linear .125s;
        text-transform: uppercase;
        @media #{$mobile} {
          padding: 16px 14px 13px;
          border: 0;
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          border-bottom: 3px solid $color_san_juan_approx;
          padding: 13px 14px 16px;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          border-bottom: 3px solid $color_san_juan_approx;
        }

      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        background: none;
        font-family: $font_2, $font_1;
        @media #{$mobile} {
          text-transform: uppercase;
          padding: 16px 14px 13px;
        }
        &:hover, &:active {
          @media #{$mobile} {
            color: $color_tundora_approx;
          }
        }
      }
    }
  }
}
