//colors
$color_concrete_approx: #f3f3f1;
$color_mexican_red_approx: #a51c30;
$color_squirrel_approx: #514d4b;
$color_rangoon_green_approx: #1e1e1e;
$white: #fff;
$color_tundora_approx: #444;
$color_celeste_approx: #ccc;
$black: #000;
$color_alto_approx: #dedede;
$color_old_rose_approx: #bf7d86;
$color_gallery_approx: #ededed;

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;
$font_2: Georgia;
$font_3: serif !important;
