html,
body {
  background: $color-white;
  color: $color-gray;
}
body.path-front {
  overflow-x: hidden;
}
.not-front {
  .main-container {
    font-size: 15px;
  }
  .field-name-body {
    font-family: georgia;
  }
}
a,
a:visited {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.page-header,
.node--title,
.path-search .title,
.more-link,
.links a,
.page-search .content-inner p,
.field-name-body h2,
.field-name-body h3,
.field-name-body h4 {
  font-family: Arial,Helvetica,sans-serif;
}
.content-inner {
  p, li {
    font-family: georgia;
  }
}
.node--title,
.path-search .title a {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 18px;
}
.node--title {
  font-weight: bold;
}
.page-header {
  font-size: 30px;
  margin: 0;
  margin-top: 15px;
  padding: 15px 0 30px;
}

