$color-white: #fff;
$color-black: #000;
$color-gray: #1e1e1e;
$color-gray1: #303030;
$color-gray2: #282828;
$color-gray3: #2b2b2b;
$color-gray4: #1b1b1b;
$color-light-gray1: #dededc;
$color-light-gray2: #e8e8e8;
$color-light-gray3: #f7f7f7;
$color-light-gray4: #e7e7e7;
$color-light-gray5: #e1e1e1;
$color-light-gray6: #e8e8e8;
$color-light-gray7: #f2f2f2;
$color-light-gray8: #f4f4f4;
$color-light-gray9: #f8f8f8;
$color-blue: #57ACFF;
$color-blue1: #65ACFF;
$color-blue2: #1b4977;
