@import url(https://fonts.googleapis.com/css?family=Open+Sans); body,
.cke_editable * {
  font-family: 'Open Sans',Helvetica,sans-serif;
}
.header-container {
  background: #fff;
}
#boxes-box-site_info,
#boxes-box-site_info a {
  color: #111111;
}
.search-block-form label {
  color: #3d3d3d;
}
.search-block-form .form-submit {
  background: #444;
  border-color: #444;
}
.path-node-type-person .content-iiner h2.block-title,
aside .block h2.block-title {
  padding: 7px 10px;
}
h2.block-title {
  color: #333333;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: none;
}
.page-header,
.node--title,
.path-search .title a,
.content-iiner .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.path-search .content-iiner p,
.not-front .content-iiner p,
.links a,
footer ul.nav li a,
.boxes-box-content h2,
.view-os-events .views-field-colorbox {
  font-family: 'Open Sans',Helvetica,sans-serif;
}
.navbar-collapse {
  background: #fff;
}
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.is-active {
  background-color: #111;
}
.navbar-collapse ul.nav a.is-active,
.navbar-collapse ul.nav a:hover {
  background: #111111;
}
.navbar-collapse ul.nav > li > a {
  color: #111111;
}
.navbar-collapse ul.nav ul {
  background: #111111;
}
.header-container ul.nav li a {
  color: #215990;
}
