/**** navbar ****/
.navbar-collapse {
  background: $color-light-gray;
  padding: 8px 0 !important;
  .navbar-nav {
    > li {
      margin-right: 15px;
      > a {
        font-family: Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
        font-size: 20px;
        color: $color-text;
        padding: 8px;
        &:hover, &:active, &:focus, &.is-active {
          background: $color-blue1;
          color: $color-white;
        }
        &.is-active {
          &:hover {
            background: $color-blue1;
            color: $color-white;
          }
        }
      }
      &.open, &.active {
        > a, a:hover, a:active, a:focus {
          background: $color-blue1;
          color: $color-white;
        }
      }
    }
  }
}
/**** dropdown ****/
.dropdown-menu {
  background: $color-light-gray2;
  box-shadow: none;
  border: 0 none;
  > li {
    > a {
      color: $color-text;
      background: none;
      padding: 8px;
      font-size: 15px;
      &:hover, &:active {
        color: $color-gray1;
      }
    }
    &.active {
      a, a:hover {
        background: $color-light-gray2;
        color: $color-text;
        &:hover {
          color: $color-gray1;
          background: $color-light-gray2;
        }
      }
    }
  }
}
