//colors
$color_alabaster_approx: #f9f9f9;
$color_chathams_blue_approx: #1b4977;
$color_regent_gray_approx: #585858;
$white: #fff;
$color_steel_blue_approx: #1758a5;
$gallery: #efefef;
$color_mountain_mist_approx: #999;
$color_gray_nurse_approx: #e9e9e9;
$color_rangoon_green_approx: #1e1e1e;

//fonts
$font_0: Raleway;
$font_1: Georgia;
$font_2: Baskerville;
$font_3: Palatino;
$font_4: Palatino Linotype;
$font_5: Book Antiqua;
$font_6: Times New Roman;
$font_7: serif;
$font_8: arial;
