.field {
  margin-bottom: 5px;
  .field--label {
    display: inline;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    line-height: inherit;
  }
}
.field--name-field-professional-titles {
  font-weight: bold;
}
a.class_material_field_class_anchor {
  background: url(../../../themes/os_base/images/scholarbase-sprite.png) 0px -489px no-repeat;
  padding-left: 15px;
}
