.field {
  margin-bottom: 5px;
  .field--label {
    display: inline;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    line-height: inherit;
  }
}
.field--name-field-professional-titles {
  font-weight: bold;
}