.main-container {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 40px;
  .content-inner {
  }
  p {
    &:only-child, &:last-child {
      margin: 0 0px .4em;
    }
  }
  footer {
    background: none;
  }
}
.page-header {
  border-bottom: 0 none;
}
.field-type-file img,
img,
a img {
  border: 0;
}
.feed-icons {
  margin-bottom: 20px;
}
h2.block-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 8px;
}
