.main-container {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 40px;
  .content-inner {
  }
  p {
    &:only-child, &:last-child {
      margin: 0 0px .4em;
    }
  }
}
.page-header {
  border-bottom: 0 none;
}
.field-type-file img,
img,
a img {
  border: 0;
}
.feed-icons {
  margin-bottom: 20px;
}
