/**** default variables ****/
$color-text: #444444;
$color-white: #fff;
$color-gray: #333;
$color-gray1: #ccc;
$color-blue: #215990;
$color-blue1: #4D5D71;
$color-blue2: #3c4858;
$color-light-gray1: #e8e8e8;
$color-light-gray2: #f5f5f5;
$color-oxford-blue: #344254;
