<a class="addthis_button" href=" http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4e9eeefa6983da55 ">
  <img src="{{ image_path }}" width="125" height="16" alt="Bookmark and Share" style="border:0"/>
</a>
