<div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_counter"></a>
</div>
<script type="text/javascript">
    if (typeof addthis !== "undefined") {
        addthis.toolbox('.addthis_toolbox');
    }
</script>
