@import '../../os_base/scss/base/breakpoints';

@import 'base/variables';
@import 'base/base';

@import 'component/header';
@import 'component/navbar';
@import 'component/breadcrumb';
@import 'component/sidebar';
@import 'component/footer';
@import 'component/search';
@import 'component/calendar';

@import 'global/global';

@import 'pages/calendar';
@import 'pages/person';
@import 'pages/search';
