.page-node-type-events {
  .events {
    &.full {
      margin-bottom: 20px;
      .dropdown {
        margin-top: 10px;
      }
    }
  }
}
.registration-form {
  .form-actions {
    margin-top: 10px;
  }
  fieldset {
    background: none;
  }
}
