.path-node {
  .field--name-field-photo-person {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
.content--main--area {
  clear: both;
}
.person--title {
  margin-bottom: 20px;
}