.view-publications {
  .view-filters {
    margin-bottom: 30px;
  }
  .view-content {
      h3 {
      color: $color-black;
      font-weight: bold;
      border-bottom: 1px solid $color-gray2;
      margin: 1em 0 1em 0;
      padding-bottom: 5px;
      font-size: 14px;
    }
  }
  .views-row {
    margin: 10px 0 20px 0;
    @extend .clear;
  }
  .field--name-field-publication-image {
    float: left;
    margin: .3em 1.5em 0.5em 0;
    ~ .abstract--content {
      margin-left: 68px;
      @media #{$mobile} {
        margin-left: 0;
      }
    }
  }
  .citeproc-title-plus-extra {
    font-weight: bold;
  }
  .bibcite-reference {
    > div {
    display: inline-block;
    }
    .abstract--content {
      display: block;
    }
  }
  /**** css for abstract ****/
  .field--abstract {
    margin: 0 4px;
    &.field--label {
      padding-left: 12px;
      background: url(../../../themes/os_base/images/scholarbase-sprite.png) 0 -399px no-repeat;
      text-decoration: none;
      font-weight: normal;
      display: inline;
      &.active {
        background-position: 0 -412px;
      }
    }
  }
  .abstract--content {
    line-height: 1.5em;
    background: #FAFAFA;
    padding: 8px;
    border: 1px solid #CCC;
    &.visually-hidden {
      padding: 0;
    }
  }
}
/** citation **/
.path-bibcite {
  .bibcite-citation {
    display: block;
    border: 1px solid $color-gray2;
    overflow: visible;
    padding: 10px;
    margin-bottom: 8px;
  }
  .field.field--name-field-extra-fields {
    .field--item {
      display: flex;
      font-weight: bold;
      p {
        margin-left: 5px;
        font-weight: normal;
        margin-bottom: 0;
      }
    }
  }
  .field--name-field-publication-image {
    float: left;
    margin: 0 1.5em .5em 0;
  }
  .bibcite-reference {
    &:before, &:after {
      content: "";
      display: table;
      width: 100%;
    }
    p, .field {
      margin-bottom: 1.5em;
    }
    .field--abstract {
      + .field--item {
        margin-bottom: 1.5em;
      }
    }
  }
}
