.view-publications {
  .view-filters {
    margin-bottom: 30px;
  }
  h3 {
    color: $color-black;
    font-weight: bold;
    border-bottom: 1px solid $color-gray2;
    margin: 1em 0 1em 0;
    padding-bottom: 5px;
    font-size: 14px;
  }
  .views-row {
    margin: 10px 0 20px 0;
    overflow: hidden;
  }
  .field--name-field-publication-image {
    float: left;
    margin: .3em 1.5em 0.5em 0;
  }
  .citeproc-title-plus-extra {
    font-weight: bold;
  }
}
/** citation **/
.path-bibcite {
  .bibcite-citation {
    display: block;
    border: 1px solid $color-gray2;
    overflow: visible;
    padding: 10px;
    margin-bottom: 8px;
  }
  .field.field--name-field-extra-fields {
    .field--item {
      display: flex;
      font-weight: bold;
      p {
        margin-left: 5px;
        font-weight: normal;
        margin-bottom: 0;
      }
    }
  }
  .field--name-field-publication-image {
    float: left;
    margin: 0 1.5em .5em 0;
  }
  .bibcite-reference {
    p {
      margin-bottom: 1.5em;
    }
  }
}
