.view-publications {
  .view-filters {
    margin-bottom: 30px;
  }
  h3 {
    color: $color-black;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin: 1em 0 1em 0;
    padding-bottom: 5px;
    font-size: 14px;
  }
  .views-row {
    margin: 10px 0 20px 0;
  }
}
