.path-user {
  @at-root body#{&} {
    background: $color-light-gray7;
  }
  .main-container {
    max-width: 600px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    padding: 40px;
    margin-top: 200px;
    background: $color-white;
    width: 90%;
  }
  h4.label {
    color: currentColor;
  }
}
