/** all base style goes here **/
@import './common';

.date, time {
  color: $color-gray6;
}
.node--teaser {
  .field-name-body {
    h2, h3, h4 {
      font-size: 1em;
    }
  }
}
.content-inner {
  .field-name-body {
    h2, h3, h4 {
      line-height: 1.2em;
    }
  }
}
.field--name-body {
  ol ul {
    display: table;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    counter-reset: table-ul;
  }
  ul {
    display: table;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    counter-reset: table-ul;
    li {
      display: table-row;
      counter-increment: table-ul;
      &:before {
        content: counter(table-ul) ".";
        display: table-cell;
        padding-right: 0.4em;
        text-align: right;
      }
    }
  }
  ol {
    ol ul li:before, ul li:before {
      content: counter(table-ul, disc);
    }
  }
  ul li:before {
    content: counter(table-ul, disc);
  }
  ol {
    ol ul ul li:before, ul ul li:before {
      content: counter(table-ul, circle);
    }
  }
  ul ul li:before {
    content: counter(table-ul, circle);
  }
  ol {
    ol ul ul ul li:before, ul ul ul li:before {
      content: counter(table-ul, square);
    }
  }
  ul ul ul li:before {
    content: counter(table-ul, square);
  }
  ol {
    ul {
      display: table;
      margin-left: 0;
      padding-left: 0;
      list-style: none;
      counter-reset: table-ol;
    }
    display: table;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    counter-reset: table-ol;
    li {
      display: table-row;
      counter-increment: table-ol;
      &:before {
        content: counter(table-ol) ".";
        display: table-cell;
        padding-right: 0.4em;
        text-align: right;
      }
    }
    ol {
      li:before {
        content: counter(table-ol, upper-alpha) ".";
      }
      ol li:before {
        content: counter(table-ol, lower-alpha) ".";
      }
    }
  }
}
.block {
  ul {
    padding-left: 0;
    list-style: none;
    margin-left: 0;
  }
}
ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin-bottom: 0;
}
ul ul ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ul ul,
ul ul ul ul {
  list-style-type: circle;
}
.clear {
  &:before, &:after {
    content: '';
    display: table;
    width: 100%;
  }
}
