$color-gray: #7e7e7e;
$color-gray1: #444;
$color-gray2: #ccc;
$color-gray3: #888;
$color-light-gray: #ebebeb;
$color-light-gray1: #d4d4d2;
$color-light-gray2: #F2F3F3;
$color-light-gray3: #dadada;
$color-light-gray4: #f3f3f1;
$color-light-gray5: #e4e4e4;
$color-light-gray6: #cacaca;
$color-black1: #1e1e1e;
$color-link1: #215990;
$color-link2: #2769AC;
$color-blue: #4E84C4;
$color-yellow: #fc0;
