/**** code for upcoming/past events sheilds ****/
.fc-listUpcoming-view, .fc-listPast-view  {
  .fc-list-heading {
    .fc-list-heading-main {
      background: $color-white;
      border: 1px solid $color-gray2;
      border-radius: 7px;
      width: 60px;
    }
  }
}
