/**** navbar background ****/
.navbar-collapse {
  @include nav($color-white,$color-black,$color-white,$color-black,transparent,
  $color-menu,$color-white,$color-black,$color-white,$fs:18px,$fw:normal);
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      > a {
        padding: 16px 14px;
      }
      a {
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}
