@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro); body {
  background: #f3f3f1;
}
.path-front .content-inner {
  font-size: 16px;
}
body,
.page-title,
.node--title,
.path-search .title a,
.more-link,
.links a,
footer ul.nav a,
.section-nav a,
.content-inner h2,
.content-inner h3,
.content-inner h4,
footer ul.nav li ul li a,
h2.block-title,
.header-container ul.nav a,
.navbar-collapse ul.nav a,
.cke_editable * {
  font-family: 'Source Sans Pro', sans-serif, Georgia, serif !important;
}
.breadcrumb a,
a,
a:visited,
.fc-header-toolbar button,
.fc-header-toolbar button:hover {
  color: #a51c30;
}
a.os-swipe-large,
a.os-swipe-small {
  background-color: #a51c30;
}
.biblio-title a {
  font-weight: normal;
}
.header-container {
  background: #8c8179;
}
footer,
.navbar-collapse {
  background: #1e1e1e;
}
.header-container,
.search-block-form .form-search label,
footer,
footer a,
footer strong,
.header-container ul.nav a,
.navbar-collapse ul.nav a,
.navbar-collapse ul.nav .dropdown ul li a:hover {
  color: #fff;
}
#branding_footer {
  background: #444;
}
.navbar-collapse ul.nav ul,
.navbar-collapse ul.nav li.dropdown ul li a:hover {
  background: #1e1e1e;
}
.navbar-collapse ul.nav a.active,
.navbar-collapse ul.nav a:hover,
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.is-active {
  background-color: #8c8179;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main,
.fc-listPast-view .fc-list-heading .fc-list-heading-main {
  width: 55px;
  height: 55px;
  background: #fff;
  border: 1px solid #ccc;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main.event-start-month,
.fc-listPast-view .fc-list-heading .fc-list-heading-main.event-start-month {
  color: #000;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main.event-year ,
.fc-listPast-view .fc-list-heading .fc-list-heading-main.event-year {
  padding: 8px 0 0;
  font-size: 11px;
}
.search-block-form .form-submit {
  background: #a51c30;
  border-color: #a51c30;
}
.search-block-form .container-inline .form-item .form-text,
#search-block-form .container-inline .form-item .form-text {
  background: #dedede;
}
aside .row > .block,
.path-front .content-inner .block,
.content-inner .block.block-boxes-os_boxes_columns .block,
.path-person .block-inner,
.comment-wrapper {
  border-top: 1px solid #a51c30;
}
aside .row > .block,
.path-front .content-inner .block.block-boxes-os_slideshow_box,
.content-inner .block.block-boxes-os_boxes_columns .block,
.path-person .block-inner,
.comment-wrapper {
  border-top: none;
}
#boxes-box-os_pages_section_nav {
  border: 1px solid #bf7d86;
}
.header-container ul.nav a {
  text-transform: none;
}
.main-container .accordion ul.nav li,
.main-container aside ul.nav li {
  background-color: #ededed;
}
a.rslides_nav {
  background-color: #a51c30;
}
.more-link:after {
  background-image: none;
}
footer ul.nav li a {
  text-transform: none;
}
footer ul.nav li a.menu-heading {
  text-transform: uppercase;
}
