//colors
$color_concrete_approx: #f3f3f1;
$color_mexican_red_approx: #a51c30;
$color_squirrel_approx: #8c8179;
$color_rangoon_green_approx: #1e1e1e;
$white: #fff;
$color_tundora_approx: #444;
$color_celeste_approx: #ccc;
$black: #000;
$color_alto_approx: #dedede;
$color_old_rose_approx: #bf7d86;
$color_gallery_approx: #ededed;

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;
$font_2: Georgia;
$font_3: serif !important;

//@extend-elements

%extend_1 {
  width: 55px;
  height: 55px;
  background: $white;
  border: 1px solid $color_celeste_approx;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: $color_concrete_approx;
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.page-header {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.node--title {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.more-link {
  font-family: $font_0, $font_1, $font_2, $font_3;
  &:after {
    background-image: none;
  }
}
footer {
  background: $color_rangoon_green_approx;
  color: $white;
  a {
    color: $white;
  }
  strong {
    color: $white;
  }
  ul.nav {
    a {
      font-family: $font_0, $font_1, $font_2, $font_3;
    }
    li {
      a {
        text-transform: none;

        &.menu-heading {
          text-transform: uppercase;
        }
      }
      ul li a {
        font-family: $font_0, $font_1, $font_2, $font_3;
      }
    }
  }
}
.content-inner {
  h2 {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
  h3 {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
  h4 {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
  .block.block-boxes-os_boxes_columns .block {
    border-top: 1px solid $color_mexican_red_approx;
    border-top: none;
  }
}
.header-container {
  background: $color_squirrel_approx;
  color: $white;
  ul.nav a {
    font-family: $font_0, $font_1, $font_2, $font_3;
    color: $white;
    text-transform: none;
  }
}
.navbar-collapse {
  background: $color_rangoon_green_approx;
  ul.nav {
    a {
      font-family: $font_0, $font_1, $font_2, $font_3;
      color: $white;
      &.is-active {
        background-color: $color_squirrel_approx;
      }
      &:hover {
        background-color: $color_squirrel_approx;
      }
    }
    .dropdown {
      a {
        &:hover {
          background-color: $color_squirrel_approx;
        }
        &.is-active {
          background-color: $color_squirrel_approx;
        }
      }
      ul li a:hover {
        color: $white;
      }
      &.open>a {
        background-color: $color_squirrel_approx;
      }
    }
    ul {
      background: $color_rangoon_green_approx;
    }
    li.dropdown ul li a:hover {
      background: $color_rangoon_green_approx;
    }
  }
}
a {
  color: $color_mexican_red_approx;
  &:visited {
    color: $color_mexican_red_approx;
  }
  &.os-swipe-large {
    background-color: $color_mexican_red_approx;
  }
  &.os-swipe-small {
    background-color: $color_mexican_red_approx;
  }
  &.rslides_nav {
    background-color: $color_mexican_red_approx;
  }
}
.search-block-form {
  .form-submit {
    background: $color_mexican_red_approx;
    border-color: $color_mexican_red_approx;
  }
  .form-search label {
    color: $white;
  }
  .container-inline .form-item .form-text {
    background: $color_alto_approx;
  }
}
#branding_footer {
  background: $color_tundora_approx;
}
.comment-wrapper {
  border-top: 1px solid $color_mexican_red_approx;
  border-top: none;
}
#boxes-box-os_pages_section_nav {
  border: 1px solid $color_old_rose_approx;
}
.main-container {
  .accordion ul.nav li {
    background-color: $color_gallery_approx;
  }
}
.path-front .content-inner {
  font-size: 16px;
  .block {
    border-top: 1px solid $color_mexican_red_approx;
    &.block-boxes-os_slideshow_box {
      border-top: none;
    }
  }
}
.path-search .title a {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.links a {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
h2.block-title {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.cke_editable * {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.breadcrumb a {
  color: $color_mexican_red_approx;
}
.fc-header-toolbar button {
  color: $color_mexican_red_approx;
  &:hover {
    color: $color_mexican_red_approx;
  }
}
.biblio-title a {
  font-weight: normal;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main {
  @extend %extend_1;
  &.event-start-month {
    color: $black;
  }
  &.event-year {
    padding: 8px 0 0;
    font-size: 11px;
  }
}
.fc-listPast-view .fc-list-heading .fc-list-heading-main {
  @extend %extend_1;
  &.event-start-month {
    color: $black;
  }
  &.event-year {
    padding: 8px 0 0;
    font-size: 11px;
  }
}
.search-block-form .form-text {
  background: $color_alto_approx;
}
aside .region >.block {
  border-top: 1px solid $color_mexican_red_approx;
  border-top: none;
}
.path-person .block-inner {
  border-top: 1px solid $color_mexican_red_approx;
  border-top: none;
}
