.pagination {
  > li {
    > a, a:hover,a:focus, span, span:hover, span:focus {
      color: $color-link;
      background: $color-white;
    }
    &.active {
      a, a:hover {
        background: $color-link;
        color: $color-white;
        border-color: $color-link;
      }
    }
  }
}
