/**** search oage ****/
h2.block-title {
  padding:10px 0;
  text-transform:none;
  font-size:12px;
  font-weight:normal;
  letter-spacing:0.1em;
  font-weight:bold;
}
.search-block-form {
  .form-item {
    label {
      color: $color-light-gray4;
    }
  }
}
