@import url(https://fonts.googleapis.com/css?family=Raleway); body {
  background: #f9f9f9;
}
a,
a:visited {
  color: #1b4977;
}
a:hover {
  color: #8996a0;
}
body,
.fc-header-toolbar h2,
.page-title,
.node--title,
.path-search .title a,
.more-link,
.links a,
footer ul.nav a,
aside .nav a,
.content-inner h2,
.content-inner h3,
.content-inner h4,
.navbar-collapse ul.nav a {
  font-family: 'Raleway', Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
}

h2.block-title {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 900;
  font-family: 'Raleway', arial;
}
#boxes-box-site_info h1 {
  font-size: 1.96em;
  font-weight: 700;
}
.header-container ul.nav a,
.search-block-form label,
#menu-bar,
header,
#boxes-box-site_info,
#boxes-box-site_info a,
.navbar-collapse ul.nav a {
  color: #fff;
}
.navbar-collapse,
header {
  background: #4e84c4;
}
.navbar-collapse {
  border-top: 1px solid #efefef;
}
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.is-active {
  background: #8996a0;
}
.navbar-collapse ul.nav .dropdown ul li a:hover,
.navbar-collapse ul.nav .dropdown ul li a.is-active {
  text-decoration: underline;
  color: #fff;
}
.navbar-collapse ul.nav a.is-active,
.navbar-collapse ul.nav ul,
.navbar-collapse ul.nav a:hover {
  background: #8996a0;
}
.aside .row > .block,
.front .content-inner .block,
#content-column .block.block-boxes-os_boxes_columns .block,
.path-person .block-inner,
.comment-wrapper {
  border-top: 1px solid #999;
}
search-block-form .form-submit {
  background: #8996a0;
}
a.rslides_nav {
  background: #8996a0;
}
footer {
  background: #e9e9e9;
  border-top: 1px solid #999;
}
aside .nav > a {
  background: #8996a0;
}
.events .field--name-field-recurring-date ,
.events .field--name-field-location {
  color: #1e1e1e;
}
.breadcrumb,
.breadcrumb a {
  letter-spacing: 0;
}
