html,
body {
  color: #4c4c4c;
}
body {
  background: #f6f5ee;
}
.ui-tabs .ui-widget-content a,
a,
a:visited,
.biblio-title a,
.fc-header-toolbar button {
  color: #c2230e;
}
a:hover,
.fc-header-toolbar button:hover {
  color: #8996a0;
}
a.os-swipe-large,
a.os-swipe-small {
  background-color: #c2230e;
}
body,
.fc-header-toolbar h2,
.page-title,
.node--title,
.path-search .title a,
.more-link,
.links a,
footer ul.nav a,
aside .nav a,
.content-inner h2,
.content-inner h3,
.content-inner h4,
.navbar-collapse ul.nav a,
.breadcrumb,
.breadcrumb a,
.cke_editable * {
  font-family: helvetica, Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
}
h2.block-title {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 900;
  font-family: helvetica, arial !important;
}
.header-conatainer ul.nav a,
.search-block-form label,
.navbar-collapse,
.header-container,
.navbar-collapse ul.nav a {
  color: #4c4c4c;
}
.navbar-collapse {
  background: #fff !important;
}
.header-container {
  background: #f0f0ee;
}
.navbar-collapse {
  border-bottom: 1px solid #e4e0e0;
}
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.is-active {
  background: #8996a0;
}
/* Targets all dropdowns, top level or descendents of top */
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.is-active,
.navbar-collapse ul.nav a:hover,
.navbar-collapse ul.nav ul li a {
  color: #fff;
}
.navbar-collapse ul.nav .dropdown ul li a,
.navbar-collapse ul.nav .dropdown ul li a:hover,
.navbar-collapse ul.nav .dropdown ul li a.is-active {
  color: #fff;
}
.navbar-collapse ul.nav a.active,
.navbar-collapse ul.nav a:hover {
  background: #8996a0;
}
.navbar-collapse ul.nav ul {
  background: #8996a0;
}
aside .row > .block,
.front .content-inner .block,
.content-inner .block.block-boxes-os_boxes_columns .block,
.path-person .block-inner,
.comment-wrapper {
  border-top: 1px solid #e4e0e0;
}
.search-block-form .form-submit {
  background: #8996a0;
  border-color: #8996a0;
}
.more-link:after {
  background-image: none;
}
a.rslides_nav {
  background: #8996a0;
}
footer {
  background: #555;
}
footer .footer-login,
footer,
footer a {
  color: #fff;
  text-shadow: none;
}
footer .footer-login:after {
  background-image: none;
}
footer ul.nav a.menu-heading {
  font-size: .99em;
}
.events .field--name-field-recurring-date,
.events .field--name-field-location {
  color: #1e1e1e;
}
.breadcrumb,
.breadcrumb a {
  letter-spacing: 0;
  color: #c2230e;
}
.accordion .ui-widget-content {
  background: #fff;
}
