/**** navbar background ****/
.navbar-collapse {
  border: 1px solid $color-light-gray1;
  @include nav($color-white,$color-green,$color-light-gray,$color-green,$color-gray1,$color-white,$color-green,$color-green);
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      > a {
        font-weight: 700;
        font-size: 16px;
        transition: all .3s ease;
        padding: 16px 20px;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        font-weight: 700;
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
        font-size: 12px;
        padding: 8px 15px;
        transition: all .3s ease;
        &:hover {
          color: $color-white;
        }
        @media #{$mobile} {
          font-size: 19px;
          font-weight: 700;
          border: 0 none;
          &:hover {
            color: $color-green;
          }
        }
      }
    }
  }
}
