/**** navbar background ****/
.navbar-collapse {
  border: 1px solid $color-light-gray1;
  @include nav($color-white,$color-green,$color-light-gray,$color-green,$color-gray1,$color-white,$color-green,$color-green,12px,700,16px,700);
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      > a {
        transition: all .3s ease;
        padding: 16px 20px;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
        padding: 8px 15px;
        transition: all .3s ease;
        &:hover {
          color: $color-white;
        }
        @media #{$mobile} {
          &:hover {
            color: $color-green;
          }
        }
      }
    }
  }
}
