@import './base/variables';
%body {
  font-family: Roboto, Baskerville, Palatino, Palatino Linotype, Book Antiqua, Times New Roman, serif;
  font-size: 14px;
}
%font {
  font-family: Roboto, Baskerville, Palatino, Palatino Linotype, Book Antiqua, Times New Roman, serif;
}
//@extend-elements
%extend_1 {
  background: $color_storm_dust_approx;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
%extend_2 {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
}
%extend_3 {
  background: $white;
  border: 1px solid $color_alto_approx;
  margin-bottom: 15px;
}
%extend_4 {
  background: none repeat scroll 0 0 $color_cararra_approx;
  border-bottom: 1px solid $color_alto_approx;
  color: $color_mine_shaft_approx;
  font-family: $font_0, $font_9;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
  padding: 7px 15px !important;
}
