.navbar-collapse {
  background-color: $seashell;
  border: 0;
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $white;
        border-top: 0 none;
      }
      > a {
        font-family: $font_0;
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          @extend %extend_1;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          @extend %extend_1;
        }

      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    @extend %extend_1;
    > li {
      > a {
        background: none;
        color: $white;
        font-family: Arial;
        @media #{$mobile} {
          color: $color_log_cabin_approx;
        }
        &:hover, &:active {
          background: none;
          color: $white;
          @media #{$mobile} {
            background: $color_fern_green_approx;
          }
        }
      }
      &.active {
        a {
          color: $white;
          background: none;
          &:hover {
            background: none;
            color: $white;
            @media #{$mobile} {
              color: $color_log_cabin_approx;
            }
          }
        }
      }
    }
  }
}
