/**** footer ****/
footer.footer {
  background: $color-gray;
  color: $color-white;
  .nav {
    a {
      font-family: 'Roboto', sans-serif;
      color: $color-white;
    }
  }
  a {
    color: $color-white;
  }
  h2.block-title {
    background: none;
    padding: 0;
  }
}
/**** powered by ****/
.block-system-powered-by-block {
  .powered-by {
    background-position: -14px -548px;
  }
}
