/**** navbar background ****/
.navbar-collapse {
  padding: 8px 0 !important;
  background: $color-gray2;
  @media #{$mobile} {
    padding: 0 !important;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      margin-right: 20px;
      @media #{$mobile} {
        margin-right: 0;
        border-bottom: 1px solid $color-light-gray3;
      }
      > a {
        color: $color-white;
        padding: 8px;
        font-size: 18px;
        text-transform: uppercase;
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color-gray2;
          color: $color-white;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color-gray2;
          color: $color-white;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color-gray2;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        color: $color-white;
        text-transform: uppercase;
        @media #{$mobile} {
          font-size: 20px;
        }
        &:hover, &:active {
          color: $color-white;
          background: $color-gray2;
        }
      }
      &.active {
        a {
          color: $color-white;
          background: $color-gray2;
          &:hover {
            color: $color-white;
            background: $color-gray2;
          }
        }
      }
    }
  }
}
