/**** navbar background ****/
.navbar-collapse {
  padding: 8px 0;
  @include nav($color-gray2,$color-white,$color-gray2,$color-white,$color-light-gray3,
  $color-gray2,$color-white,$color-white,$color-white,$fs:18px,$fw:normal);
  @media #{$mobile} {
    padding: 0;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      margin-right: 20px;
      @media #{$mobile} {
        margin-right: 0;
      }
      > a {
        padding: 8px;
        text-transform: uppercase;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        text-transform: uppercase;
      }
    }
  }
}
