//colors
$color_cararra_approx: #ebebeb;
$color_alto_approx: #dddddd;
$color_mine_shaft_approx: #303030;
$white: #ffffff;
$color_storm_dust_approx: #666666;
$color_hippie_green_approx: #52854c;
$color_alabaster_approx: #f9f9f9;
$color-light-gray: #f4f4f4;

//fonts
$font_0: Roboto;
$font_1: Baskerville;
$font_2: Palatino;
$font_3: Palatino Linotype;
$font_4: Book Antiqua;
$font_5: Times New Roman;
$font_6: serif;
$font_7: georgia;
$font_8: arial;
$font_9: helvetica;
