/**** navbar background ****/
.navbar-collapse {
  @include nav($color-white,$color-gray,$color-light-gray1,$color-gray,$color-light-gray2,
  $color-light-gray1,$color-gray,$color-gray,$color-gray1,$fs:18px,$fw:normal);
  border-top: 1px solid $color-light-gray1;
  border-bottom: 1px solid $color-light-gray1;
  padding: 8px 0;
  @media #{$mobile} {
    padding: 0;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      margin-right: 20px;
      @media #{$mobile} {
        margin-right: 0;
        &.last {
          border: 0;
        }
      }
      > a {
        padding: 8px;
      }
      a {
        text-transform: uppercase;
        font-family: 'Lora';
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        &:hover, &:active {
          @media #{$mobile} {
            color: $color-gray;
          }
        }
      }
    }
  }
}
