body {
  background: $color-white;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
a,
a:visited,
.full-calendar-view .fc-header-toolbar button {
  color: $color-blue;
}
h1, h2, h3, h4, h5, h6 {
  color: $color-oxford-blue;
}
.page-title {
  position: relative;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
}
