$color-white: #fff;
$color-black: #000;
$color-blue: #14bdee;
$color-oxford-blue: #384158;
$color-light-gray: #f2f4f5;
$color_light-gray1: #b5b8be;
$color_light-gray2: #e9e9e9;
$color-footer: #1e2434;
$color-text: #76777a;
