@import url(https://fonts.googleapis.com/css?family=Merriweather:300); @import url(https://fonts.googleapis.com/css?family=Merriweather+Sans); html,
body,
.field--item span {
  color: #222;
}
body,
.page-title,
.node--title,
.path-search .title a,
.more-link,
.links a,
.section-nav a,
.content-inner h2,
.content-inner h3,
.content-inner h4,
footer ul.nav li ul li a,
h2.block-title,
.header-container ul.nav a,
.navbar-collapse ul.nav a,
.fc-header-toolbar h2 {
  font-family: 'Merriweather', Georgia, serif !important;
}
footer ul.nav a,
footer a,
.header-container ul.nav a {
  font-family: 'Merriweather Sans', sans-serif !important;
}
.path-front .region-content-first {
  background: #fff;
}
.path-front .region-content-second span,
.path-front .region-content-second {
  background-color: #293352;
}
footer a,
footer,
footer .footer-login,
.path-front .region-content-second a,
.path-front .region-content-second span,
.path-front .region-content-second {
  color: #fff;
}
.path-front .region-content-bottom {
  background-color: #c3d7a4;
}
footer {
  background-color: #4e84c4;
}
header,
.navbar-collapse {
  background: #f3f3f1;
}
.navbar-collapse ul.nav a {
  padding: 16px 15px;
}
.navbar-collapse ul.nav .dropdown ul li a,
.navbar-collapse ul.nav .dropdown ul li a.is-active,
.navbar-collapse ul.nav a.is-active,
.navbar-collapse ul.nav a:hover,
.navbar-collapse ul.nav a {
  color: #a51c30;
  text-transform: none;
  font-weight: bold;
  font-size: 1.25em;
}
.path-front .block-boxes-os_boxes_html,
.navbar-collapse ul.nav .dropdown ul li a,
.navbar-collapse ul.nav .dropdown ul li a.is-active {
  font-size: 1em;
}
.navbar-collapse ul.nav a.is-active,
.navbar-collapse ul.nav a:hover,
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.active {
  background-color: #fff;
  border-top: 4px solid #a51c30;
  color: #a51c30;
  padding: 12px 15px 16px 15px;
}
.navbar-collapse ul.nav .dropdown ul li a:hover,
.navbar-collapse ul.nav .dropdown.open > a,
.navbar-collapse ul.nav .dropdown a:hover,
.navbar-collapse ul.nav .dropdown a.is-active {
  color: #a51c30;
  padding: 10px 15px;
}
.navbar-collapse ul.nav  ul {
  background: #fff;
  border-left: 1px solid #f3f3f1;
  border-right: 1px solid #f3f3f1;
  border-bottom: 1px solid #f3f3f1;
}

.field--name-body h2,
h1.page-title,
.aside h2.block-title {
  font-weight: normal;
}
.field--name-body h2 {
  margin-bottom: 8px;
}
aside .nav li > a {
  background-color: #f3f3f1 !important;
  color: #a51c30 !important;
  border-bottom: 1px solid #d7d7d7 !important;
}
aside ul.nav li.first {
  border-top: 2px solid #a51c30;
}
footer .footer-login {
  text-shadow: none;
}
footer .footer-login:after {
  background-image: none;
}
.block-os-search-solr {
  font-size: .97em;
}
.attachment.attachment-before ul li {
  font-size: 14px;
}
