header.navbar {
  border: 0 none;
}
.header-container {
  display: flex;
  align-items: center;
  ul.nav {
    li {
      margin-right: 10px;
      a {
        font: bold 13px arial,sans-serif;
        padding: 0.3em 0 0.3em 10px;
        text-decoration: none;
        text-transform: capitalize;
        &:hover, &:focus, &:active, &:visited {
          background: none;
        }
      }
      &.active, &.open{
        a {
          background: none;
        }
      }
    }
  }
}
