aside {
  .navbar-nav {
    float: none;
    margin: 0;
    li {
      float: none;
      list-style: none;
      background: $color-light-gray4;
      text-align: left;
      a {
        display: block;
        text-decoration: none;
        padding: 8px 15px;
        border-bottom: 2px solid $color-white;
        font-size: 15px;
        font-weight: normal;
        line-height: inherit;
        &.is-active {}
        .caret {
          display: none;
        }
      }
      &:hover {
        background: $color-light-gray2;
      }
      .dropdown-menu {
        display: block;
        width: 100%;
        padding: 0;
        border: 0;
        box-shadow: none;
        background: none;
        position: inherit;
        float: none;
        a {
          padding: 8px 25px;
          color: $color-link1;
        }
        li.active {
          a {
            background: none;
            &:hover {
              color: currentColor;
            }
          }
        }
      }
      &.open {
        a {
          background: $color-light-gray4;
          border-bottom: 2px solid $color-white;
          &:hover,
          &:focus {
            background: $color-light-gray2;
            border-color: $color-white;
          }
        }
      }
    }
  }
  .well {
    background: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  .block-title {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .region > .block,
  nav {
    margin-bottom: 20px;
    margin-top: 12px
  }
  .block {
    article {
      padding: 0;
      border: 0;
      margin-bottom: 20px;
      h2 {
        margin-bottom: 0px;
        padding-bottom: 0;
      }
    }
  }
  .region {
    .block {
      nav {
        border: 0;
        margin-bottom: 0;
        padding: 0;
        .pager {
          padding: 0;
        }
      }
    }
  }
  .links.list-inline {
    margin-bottom: 0;
  }
}
