.navbar-collapse {
  @include nav($white,$color_woodsmoke_approx,$color_woodsmoke_approx,$white,#f4f4f4,
  $color_woodsmoke_approx,$white,$color_woodsmoke_approx,$white,$dfs:null,$dfw:null,$fs:19px,$fw:normal);
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
    }
  }
}
