body {
  color: $color-text;
  font: normal 95%/1.538em "Helvetica Neue", sans-serif;
}
a,
.link {
  color: $color-link;
  text-decoration: none;
}
.page-title {
  font-size: 3em;
  font-weight: 500;
}
