//colors
$color_fuscous_gray: #555;
$color_venice_blue: #004f80;
$color-gray1: #757575;
$color-gray2: #6c757d;
$color_venice_blue: #004f80;
$color-blue: #3E77BB;
$color-text: #444;
$color-link: #215990;
$color-white: #fff;
$color-light-gray: #efefef;
$color-light-gray1: #f5f5f5;
$color-light-gray2: #E2E8EF;
$color-light-gray3: #F7F9FB;
$color-light-gray4: #f6f6f3;
$color-light-gray5: #e7e7df;
