@import '../../os_base/scss/base/breakpoints';
@import './variables';
@import './common';
body {
  background: $color_alabaster_approx;
  @extend %font-family;
}
a {
  color: $color_chathams_blue_approx;
  &:visited {
    color: $color_chathams_blue_approx;
  }
  &:hover {
    color: $color_regent_gray_approx;
  }
  &.rslides_nav {
    background: $color_regent_gray_approx;
  }
}
.page-header {
  @extend %font-family;
}
.node--title {
  @extend %font-family;
}
.more-link {
  @extend %font-family;
}
footer {
  background: $color_gray_nurse_approx;
  border-top: 1px solid $color_mountain_mist_approx;
  ul.nav a {
    @extend %font-family;
  }
}
.content-inner {
  h2 {
    @extend %font-family;
  }
  h3 {
    @extend %font-family;
  }
  h4 {
    @extend %font-family;
  }
}
.navbar-collapse {
  color: $white;
  background: $color_steel_blue_approx;
  border-top: 1px solid $gallery;
  @media #{$mobile} {
    padding: 0 !important;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $white;
        border-top: 0 none;
      }
      > a {
        @extend %font-family;
        color: $white;
        @media #{$mobile} {
          color: $white;
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color_regent_gray_approx;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color_regent_gray_approx;
        }

      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_regent_gray_approx;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        background: none;
        color: $white;
        font-weight: normal;
        @media #{$mobile} {
          font-size: 19px;
          padding-left: 20px;
        }
        &:hover, &:active {
          background: none;
          color: $white;
          @media #{$mobile} {
            color: $white;
          }
        }
      }
      &.active {
        a {
          color: $white;
          background: none;
          @media #{$mobile} {
            color: $white;
          }
          &:hover {
            background: none;
            color: $white;
            @media #{$mobile} {
              color: $white;
            }
          }
        }
      }
    }
  }
}
#boxes-box-site_info {
  color: $white;
  h1 {
    font-size: 1.96em;
    font-weight: 700;
  }
  a {
    color: $white;
  }
}
.search-block-form {
  label {
  }
  .form-submit {
    background: $color_regent_gray_approx;
    border-color: $color_regent_gray_approx;
  }
}
.header-container {
  color: $white;
  background: $color_steel_blue_approx;
}
.comment-wrapper {
  border-top: 1px solid $color_mountain_mist_approx;
}
.events {
  .field--name-field-recurring-date {
    color: $color_rangoon_green_approx;
  }
  .field--name-field-location {
    color: $color_rangoon_green_approx;
  }
}
.breadcrumb {
  letter-spacing: 0;
  a {
    letter-spacing: 0;
  }
}
.fc-header-toolbar h2 {
  @extend %font-family;
}
.path-search .title a {
  @extend %font-family;
}
.links a {
  @extend %font-family;
}
aside .nav a {
  @extend %font-family;
}
h2.block-title {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 900;
  font-family: $font_0, $font_8;
}
.header-container ul.nav a {
  color: $white;
}
aside .region > .block {
  border-top: 1px solid $color_mountain_mist_approx;
}
.path-front .content-inner .block {
  border-top: 1px solid $color_mountain_mist_approx;
}
.content-iiner .block.block-boxes-os_boxes_columns .block {
  border-top: 1px solid $color_mountain_mist_approx;
}
.path-person .block-inner {
  border-top: 1px solid $color_mountain_mist_approx;
}
/** accessibility fixes **/
header {
  button.visually-hidden {
    color: black;
  }
}
aside .navbar-nav li .dropdown-menu a {
  background: none;
  &:hover {
    color: currentColor;
  }
}
