/**** code for upcoming/past events sheilds ****/
.fc-listUpcoming-view, .fc-listPast-view  {
  .fc-list-heading {
    .fc-list-heading-main {
      background: #F8F8F8;
      border: 1px solid #DEDEDC;
      border-radius: 3px;
      height: 60px;
    }
  }
}
