footer.footer {
  color: $color-white;
  padding: 60px 0 12px;
  position: relative;
  background: $color-gray3;
  ul.nav {
    a {
      font-family: Arial,Helvetica,sans-serif;
      text-transform: none;
      font-size: 16px;
    }
  }
  a {
    color: $color-white;
  }
  .footer-login {
    background: none;
    border-left: none;
    color: $color-blue;
    text-shadow: none;
    padding: 0;
    font-size: 13px;
  }
  button.visually-hidden {
    color: $color-black;
  }
}
