/**** navbar background ****/
.navbar-collapse {
  @include nav($color-light-gray2,$color-gray1,$color-gray1,$color-white,$color-light-gray8,
  $color-gray2,$color-blue1,$color-gray1,$color-blue1,$fs:20px, $fw:normal);
  padding: 0 0 30px;
  min-height: 39px;
  .region-navigation-collapsible {
    background: $color-white;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 1px $color-light-gray1;
    &:after,
    &:before {
      content: "";
      display: table;
      width: 100%;
    }
  }
  /***** navbar nav *****/
  .navbar-nav {
    >li {
      >a {
        color: $color-gray1;
        font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
        font-weight: normal;
        padding: 12px 15px;
        background: $color-white;
        font-size: 20px;
        transition: color 0.25s linear;
        &:hover,
        &:active,
        &:focus,
        &.is-active,
        &.is-active:hover {
          background: $color-gray1;
          color: $color-white;
        }
      }
      &.open,
      &.active {
        >a,
        >a:hover,
        >a:active,
        >a:focus {
          background: $color-gray1;
          color: $color-white;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    @media #{$mobile} {
      background: $color-white;
    }
    > li {
      > a {
        text-transform: capitalize;
        @media #{$mobile} {
          background: $color-white;
          color: $color-gray1;
          font-size: 20px;
          font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
        }
        &:hover,
        &:active {
          color: $color-white;
          background: $color-gray2;
        }
      }
    }
  }
}
