aside {
  margin-top: 0;
  > .region {
    > .block, nav {
      margin-bottom: 20px;
      border: 1px solid $color-light-gray1;
      background: $color-white;
      box-shadow: 0 1px 2px 0 $color-light-gray1;
      border-radius: 3px;
      margin-top: 0;
    }
    nav {
      margin-top: 0;
      padding: 15px;
    }
    >.block {
      > div {
        padding: 15px;
      }
    }
  }
  .block-title {
    background: $color-light-gray6;
    color:$color-black;
    border-bottom: 1px solid $color-light-gray1;
    font-size: 16px;
    line-height: 20px;
    min-height: 20px;
    padding: 7px 15px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .block-content {
    padding: 15px;
    border-top: 1px solid $color-light-gray7;
  }
}
