//colors
$color_orange_white_approx: #fdfaee;
$color_goldenrod_approx: #ffdb6d;
$white: #fff;
$color_curious_blue_approx: #0957a1;
$color-black1: #222;

//fonts
$font_0: Playfair Display;
$font_1: sans-serif;
$font_2: Georgia;
$font_3: serif !important;
$font_4: Oxygen;
$font_5: helvetica !important;
$font_6: Vidaloka;
