@import '../../os_base/scss/base/breakpoints';
//colors
$color_orange_white_approx: #fdfaee;
$color_goldenrod_approx: #ffdb6d;
$white: #fff;
$color_curious_blue_approx: #3a8bd9;
$color-black1: #222;

//fonts
$font_0: Playfair Display;
$font_1: sans-serif;
$font_2: Georgia;
$font_3: serif !important;
$font_4: Oxygen;
$font_5: helvetica !important;
$font_6: Vidaloka;

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Vidaloka);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

#page {
  background: $color_orange_white_approx;
}
body {
  background: $color_orange_white_approx;
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.node--title {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.content-inner {
  .block {
    &.block-boxes-os_boxes_manual_list .links.inline a {
      font-family: $font_0, $font_1, $font_2, $font_3;
    }
    &.block-boxes-os_boxes_columns .block {
      border-top: none;
    }
  }
  h2 {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
  h3 {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
  h4 {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
}
.more-link {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
aside {
  .block {
    border-top: none;
  }
  .nav a {
    font-family: $font_0, $font_1, $font_2, $font_3;
  }
}
.header-container {
  background: $white;
  ul.nav a {
    font-family: $font_0, $font_1, $font_2, $font_3;
    font-family: $font_4, $font_5;
  }
}
.navbar-collapse {
  background: $color_goldenrod_approx;
  @media #{$mobile} {
    padding: 0 !important;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $white;
        border-top: 0 none;
      }
      > a {
        font-family: $font_0, $font_1, $font_2, $font_3;
        font-family: $font_4, $font_5;
        color: $color-black1;
        @media #{$mobile} {
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color_curious_blue_approx;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color_curious_blue_approx;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_goldenrod_approx;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        background: none;
        color: $color-black1;
        @media #{$mobile} {
          font-size: 19px;
          padding-left: 20px;
        }
        &:hover, &:active {
          background: none;
          @media #{$mobile} {
          }
        }
      }
      &.active {
        a {
          background: none;
          @media #{$mobile} {
          }
          &:hover {
            background: none;
            @media #{$mobile} {
              color: $white;
            }
          }
        }
      }
    }
  }
}
footer {
  background: $white;
  ul {
    &.nav a {
      font-family: $font_4, $font_5;
    }
    &.nav li ul li a {
      font-family: $font_4, $font_5;
    }
  }
}
.main-container {
  .accordion ul.nav li a {
    font-family: $font_4, $font_5;
  }
  aside ul.nav li a {
    font-family: $font_4, $font_5;
  }
}
.page-title {
  font-family: $font_6, $font_5;
}
#boxes-box-site_info {
  font-family: $font_6, $font_5;
  text-decoration: none;
  a {
    font-family: $font_6, $font_5;
    text-decoration: none;
  }
}
.comment-wrapper {
  border-top: none;
}
.path-search .title a {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.links a {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.boxes-box-content h2 {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.block-boxes-os_boxes_facetapi_vocabulary.navigation {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.block-boxes-os_taxonomy_fbt.navigation {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
h2.block-title {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.cke_editable * {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
.path-front .content-inner .block {
  border-top: none;
}
.path-person .block-inner {
  border-top: none;
}
a.rslides_nav {
  background-color: $color_goldenrod_approx;
}
.search-block-form .form-submit {
  background: $color_goldenrod_approx;
  border-color: $color_goldenrod_approx;
}
