button {
  &.button {
    background: none;
    color: $color-black;
    border-color: currentColor;
    &:hover {
      background: none;
      color: $color-black;
      border-color: currentColor;
    }
  }
}
