button {
  &.button, &.btn, &.btn[aria-expanded="true"] {
    background: $color-black;
    color: $color-white;
    border: 0 none;
    &:hover {
      background: $color-black;
      color: $color-white;
      border: 0 none;
    }
  }
}
