.read-more,
.node-readmore a {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 14px;
  margin-top: 10px;
  display: inline-block;
  background: $color-black;
  color: $color-white;
  &:after {
    border: 0 none;
  }
  &:hover {
    text-decoration: underline;
  }
}
