@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700');

html, body {
	background: $color-white;
	color: $color-gray;
	font-family:  Helvetica, sans-serif;
}
a, a:visited {
  color: $color-link;
}