/**** variables used here ****/
$color-white: #ffffff;
$color-link: #0075BE;
$color-blue: #4384C4;
$color-blue2: #24527A;
$color-blue3: #34679A;
$color-blue4: #407EB4;
$color-gray: #1e1e1e;
$color-gray1: #666666;
$color-light-gray: #f3f3f1;
$color-light-gray1: #e6e6e3;
$color-light-gray2: #F0F0EE;
$color-text: #303030;
$color-blue1: #1E2540;
$color-silver: #c8c8c8;
