//colors
$color_spicy_mustard_approx: #755a0f;
$color_corn_harvest_approx: #947215;
$color_goldenrod_approx: #ffdb6d;
$color_pizza_approx: #c4961a;
$color_steel_blue_approx: #4e84c4;
$white: #fff;
$color_wheatfield_50_approx: rgba(244, 237, 202, 0.5);
$color_outer_space_approx: #283645;

//fonts
$font_0: Arimo;
$font_1: serif !important;

body {
  font-family: $font_0, $font_1;
  font-size: 16px;
}

.page-header {
  font-family: $font_0, $font_1;
}
.node--title {
  font-family: $font_0, $font_1;
}
.more-link {
  font-family: $font_0, $font_1;
}
aside {
  .nav {
    a {
      font-family: $font_0, $font_1;
    }
  }
}
footer {
  background-color: $color_outer_space_approx;
  a {
    font-family: $font_0, $font_1;
  }
  .footer-login {
    color: $white;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    &:after {
      background: none;
    }
  }
  * {
    color: $white;
  }
  ul.nav {
    a {
      font-family: $font_0, $font_1;
    }
    li ul li a {
      font-family: $font_0, $font_1;
    }
  }
}
.navbar-collapse {
  background-color: $color_goldenrod_approx;
  border-bottom: 3px solid $color_pizza_approx;
  .navbar-nav>li {
    >a {
      font-family: $font_0, $font_1;
      &.is-active, &.is-active:hover {
        background: $color_pizza_approx;
        color: $white;
      }
    }
    a {
      color: $color_spicy_mustard_approx;
      &:active {
        background: $color_pizza_approx;
      }
      &:hover {
        background: $color_pizza_approx;
        color: $white;
      }
    }
    ul {
      background: $color_pizza_approx;
      a {
        color: $white;
      }
    }
    &.open a:hover {
      background: $color_pizza_approx;
    }
  }
}
.path-front {
  .region-content-first {
    background-color: $color_steel_blue_approx;
    * {
      color: $white;
    }
  }
  .region-content-bottom {
    background-color: $color_wheatfield_50_approx !important;
  }
}
.path-search .title a {
  font-family: $font_0, $font_1;
}
.links a {
  font-family: $font_0, $font_1;
}
.main-container .content-inner {
  h2 {
    font-family: $font_0, $font_1;
  }
  h3 {
    font-family: $font_0, $font_1;
  }
  h4 {
    font-family: $font_0, $font_1;
  }
}
h2.block-title {
  font-family: $font_0, $font_1;
  color: $color_corn_harvest_approx;
  font-size: 1.5em;
}
.path-person .node--title {
  color: $color_corn_harvest_approx;
  font-size: 1.5em;
  font-size: 2.1em;
}
h1.page-title {
  color: $color_corn_harvest_approx;
  font-size: 1.5em;
  font-size: 2.1em;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main {
  border-top: 3px solid $color_pizza_approx;
  background: none;
}
.fc-listPast-view .fc-list-heading .fc-list-heading-main {
  border-top: 3px solid $color_pizza_approx;
  background: none;
}
.header-container ul.nav a {
  text-transform: none;
}
.node-readmore a:after {
  background: none;
}
