<div>
  <div class="node-form-loading" ng-show="loading">
    <div class="node-form-loading-message">Loading form...<br /></div>
  </div>
  <div class="messages" ng-show="status.length || errors.length">
    <div class="dismiss" ng-click="status.length = 0; errors.length = 0;">X</div>
    <div class="status" ng-show="status.length > 0">
      <div ng-repeat="m in status track by $index"><span ng-bind-html="m"></span></div>
    </div>
    <div class="error" ng-show="errors.length > 0">
      <div ng-repeat="m in errors track by $index"><span ng-bind-html="m"></span></div>
    </div>
  </div>
  <form id="{{formId}}" class="node-form" ng-submit="submitForm($event)">
    <div class="node-form clearfix node-form-has-region-main node-form-has-region-right node-form-has-region-footer">
      <div class="form-region-main">
        <div class="form-item" ng-repeat="(key, field) in formElements | weight" ng-if="!field.group">
          <div form-element element="field" value="formData[key]"><span>placeholder</span></div>
        </div>
      </div>
      <div class="form-region-right">
        <div class="actions" ng-show="showSaveButton">
          <button type="submit" button-spinner="node_form" spinning-text="Saving">Save</button>
          <input type="button" value="Cancel" ng-click="close(false)">
        </div>
        <div class="form-item fieldset" ng-repeat="(key, field) in formElements | weight" ng-if="field.group" ng-class="field.group">
          <div form-element element="field" value="formData[key]"><span>placeholder</span></div>
        </div>
      </div>
      <div class="form-region-footer">
        <div class="actions" ng-show="showSaveButton">
          <button type="submit" button-spinner="node_form" spinning-text="Saving">Save</button>
          <input type="button" value="Cancel" ng-click="close(false)">
        </div>
      </div>
    </div>
  </form>
</div>
