.navbar-collapse {
  @include nav($color_goldenrod_approx,$color_spicy_mustard_approx,$color_pizza_approx,$white,$white,$color_pizza_approx,$white,
  $color_spicy_mustard_approx,$white);
  border-bottom: 3px solid $color_pizza_approx;
  @media #{$mobile} {
    border: 0 none;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        font-family: $font_0, $font_1;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    > li {
      > a {
        font-family: $font_0, $font_1;
        background: none;
        &:hover, &:active {
          @media #{$mobile} {
            color: $color_spicy_mustard_approx;
          }
        }
      }
    }
  }
}
