.navbar-collapse {
  @include nav($color_red_stage_approx,$white,$color_concrete_approx,$color_st_tropaz_approx,$white,
  $color_concrete_approx,$color_st_tropaz_approx,$white,$color_st_tropaz_approx);
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        @media #{$mobile} {
          color: $white;
        }
      }
    }
  }
}
