/** global styles **/
.media-browser-drop-box {
  a[mb-open-modal] {
    background: $color_fuscous_gray;
  }
}
.vertical-tabs__menu-item {
  a {
    color: $color_venice_blue;
  }
}
.content-header {
  background-color: $color-gray1;
  color: $color-white;
}
/** keyboard accessibility **/
.entity-meta {
  .seven-details {
    &:focus-within {
      outline: 1px solid;
    }
  }
}
