@import url('https://fonts.googleapis.com/css?family=Droid+Sans:300,400,700|Volkhov:300,400,400i,700');

body,
.node-title,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.links a,
#footer ul.menu a,
.section-nav a,
.block-boxes-os_taxonomy_fbt.navigation,
.block-boxes-os_boxes_facetapi_vocabulary.navigation,
#footer ul.menu li ul li a,
#layout_16_9_side .slide-copy h2,
#layout_3_1_overlay .slide-copy h2,
#layout_16_9_below .slide-copy h2,
#layout_16_9_overlay .slide-copy h2,
#layout_16_9_side .slide-copy p,
#layout_3_1_overlay .slide-copy p,
#layout_16_9_below .slide-copy p,
#layout_16_9_overlay .slide-copy p,
.region-header-third ul.nice-menu a,
#menu-bar ul.nice-menu a,
#boxes-box-site_info,
#boxes-box-site_info a,
.date-nav h3,
.cke_editable * {
    font-family: 'Droid Sans', sans-serif !important;
}
#boxes-box-site_info h1 a,
#page-title,
.boxes-box-content h2,
#content-column h2,
#content-column h3,
#content-column h4,
h2.block-title,
.node-type-person #content-column .node-person h1.node-title {
    font-family: 'Volkhov', sans-serif !important;
}
h1#page-title {
    font-size: 2em;
}
#menu-bar ul.nice-menu ul,
#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active,
#header {
    background-color: #4d5d71;
}
#menu-bar {
    background-color: #3c4858;
    border-bottom: 9px solid #f5f5f5
}

.front #content-panels .region-content-second {
background:url('images/fp-panel-bg.png?123') repeat-y #f5f5f5;
}
.front #content-panels .region-content-first, .front #content-panels .region-content-bottom {
background-color: #FFF;
}
.region-header-third ul.nice-menu a,
#header,
#header a,
#boxes-box-site_info a {
    color: #FFF;
}
ul.nice-menu ul {
    top: 3.8em !important;
}
#columns a.node-readmore:after {
    background: none;
    padding-right: 0;
}
#footer {
    background-color: #f5f5f5;
    color: #333;
}
#powered-by a {
    background-position: -14px -520px;
}
.not-front h2.block-title {
    padding: 15px 0 10px;
}
a.rslides_nav,
.search-block-form input.form-submit,
.search-block-form #edit-submit,
#search-block-form input.form-submit,
#search-block-form #edit-submit,
#search-form #edit-submit {
    background-color: orange;
}
.not-front .sidebar .block-title,
.node-type-person #content-column .node-person .pic-bio,
.node-type-person #content-column .node-person .block-title {
    border-top: 1px solid orange;
}
.event-start .event-start {
    border-top: 3px solid orange;
}