@media (max-width: 1008px) {
	
.link-count-mobi-main a {
    background-color: #3c4858;

}

#menu-bar #block-os-primary-menu li {
    border-bottom: 1px solid #3c4858!important;
    border-top: 1px solid #3c4858!important;
  
}

}
