/**** navbar background ****/
.navbar-collapse {
  @include nav($color-white, $color-oxford-blue,none,$color-oxford-blue, $color-light-gray1, $color-black, $color-white, $color-oxford-blue, $color-white);
  /***** navbar nav *****/
  .navbar-nav {
    >li {
      >a {
        transition: all 200ms ease;
        font-family: 'Roboto', sans-serif;
        border-bottom: 2px solid transparent;
        &:hover,
        &:active,
        &:focus,
        &.is-active,
        &.is-active:hover {
          border-bottom: 2px solid $color-oxford-blue;
          @media #{$mobile} {
            border: 0 none;
          }
        }
      }
      &.open,
      &.active {
        >a,
        >a:hover,
        >a:active,
        >a:focus {
          border-bottom: 2px solid $color-oxford-blue;
          @media #{$mobile} {
            border: 0 none;
          }
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    >li {
      >a {
        &:hover {
          @media #{$mobile} {
            color: $color-oxford-blue;
          }
        }
      }
    }
  }
}
