/**** navbar background ****/
.navbar-collapse {
  @include nav($color-white,$color-oxford-blue,none,$color-light-gray1,$color-black,$color-white,$color-oxford-blue,$color-white);
  /***** navbar nav *****/
  .navbar-nav {
    >li {
      >a {
        transition: all 200ms ease;
        font-family: 'Roboto', sans-serif;
        border-bottom: 2px solid transparent;
        &:hover,
        &:active,
        &:focus,
        &.is-active,
        &.is-active:hover {
          border-bottom: 2px solid $color-oxford-blue;
        }
      }
      &.open,
      &.active {
        >a,
        >a:hover,
        >a:active,
        >a:focus {
          border-bottom: 2px solid $color-oxford-blue;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    >li {
      >a {
        @media #{$mobile} {
          font-size: 19px;
          font-weight: normal;
          color: $color-oxford-blue;
        }
      }
    }
  }
}
