/**** dafault varibale ****/
$color-white: #ffffff;
$color-menu: #a23338;
$color-menu-hover: #7B272B;
$color-light-gray1: #BAC5C6;
$color-light-gray2: #ACB9BA;
$color-light-gray3: #ebebeb;
$color-light-gray4: #c8c8c8;
$color-gray: #1e1e1e;
$color-gray1: #2D2D2D;
$color-gray2: #303030;
$color-red: #80282C;
$color-red1: #AB383E;
