html {
  color: $black;
}
body {
  @extend %body;
}
a,
.full-calendar-view .fc-header-toolbar button {
  @extend %link;
}
h2.block-title {
  font-family: $font_0, $font_1;
}
.node-readmore a:after {
  background: none;
  background-image: none;
}
.more-link {
  text-decoration: underline;
  &:after {
    background: none;
    background-image: none;
  }
}
.field--item span {
  color: $black;
}
.field--name-body {
  h2 {
    font-weight: normal;
    margin-bottom: 8px;
  }
}
h1.page-title {
  font-weight: normal;
}
.node-readmore {
  a {
    text-decoration: underline;
  }
}
