@import '../../os_base/scss/base/breakpoints';

@import 'base/variables';
@import 'base/base';

@import 'components/footer';
@import 'components/navbar';
@import 'components/header';

@import 'global/global';

@import 'pages/pages';
