.header-container {
  background: url(../images/header_background.png) left top no-repeat $color_cape_cod_approx;
  border-top: 1px solid $color_fuscous_gray_approx;
}
.branding_header {
  background: $color_cape_cod_approx;
}
