.navbar-collapse {
  background: url(../images/menu2Back.png) 0 0 repeat $color_celeste_approx;
  border-bottom: 1px solid $color_celeste_approx;
  @media #{$mobile} {
    background: #fff;
    border: 0 none;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-bottom: 1px solid $color-gray;
        border-top: 0 none;
      }
      > a {
        color: $color_nevada_approx;
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color_ironside_gray_approx;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color_ironside_gray_approx;
          margin: 0 !important;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_ironside_gray_approx;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid $color_pink_swan_approx;
    border-top: 0;
    @media #{$mobile} {
      border: 0 none;
    }
    > li {
      @media #{$mobile} {
        border-color: $color-gray;
      }
      > a {
        text-transform: none;
        color: $white;
        background: none;
        @media #{$mobile} {
          color: $color_nevada_approx;
        }
        &:hover, &:active {
          color: $color_chamois_approx;
          box-shadow: none;
          @media #{$mobile} {
            background: $color_ironside_gray_approx;
            color: $white;
          }
        }
      }
      &.active {
        a {
          background: none;
          @media #{$mobile} {
          }
          &:hover {
            background: $color_boulder_80_approx;
            color: $color_chamois_approx;
            box-shadow: none;
          }
        }
      }
    }
  }
}
