html {
  color: $color_log_cabin_approx;
}
.path-front {
  .content-first {
    background: $white;
  }
  .content-second {
    background-color: $color_cloud_burst_approx;
    color: $white;
    a {
      color: $white;
      background-color: $color_cloud_burst_approx;
    }
  }
  .content-bottom {
    background-color: $color_sprout_approx;
  }
}
.fc-header-toolbar h2 {
  @extend %font;
}
.field--name-body h2 {
  font-weight: normal;
  margin-bottom: 8px;
}
h1.page-title {
  font-weight: normal;
}
h2.block-title {
  @extend %font;
  font-weight: normal;
}
