/**** navbar background ****/
.navbar-collapse {
  @include nav($color-light-gray1, $color-gray1, $color-gray2, $color-white, $color-blue2, $color-light-gray3, $color-gray1, $color-white, #666, 15px, normal, 20px, normal);
  &.collapse {
    padding: 8px 0;
    @media #{$mobile} {
      padding: 0;
    }
  }
  @media #{$mobile} {
    background: $color-blue1;
  }
  /***** navbar nav *****/
  .navbar-nav {
    >li {
      margin-right: 20px;
      @media #{$mobile} {
        margin-right: 0;
        border-top: 1px solid $color-blue3;
      }
      >a {
        padding: 8px;
        font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
        text-transform: capitalize;
        @media #{$mobile} {
          color: $color-white;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    >li {
      >a {
        // color: $color-gray1;
        text-transform: capitalize;
        font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
        padding: 8px;
        @media #{$mobile} {
          padding: 6px 20px;
        }
        &:hover,
        &:active {
          @media #{$mobile} {
            color: $color-white;
            background: none;
          }
        }
      }
    }
  }
}
