/**** navbar background ****/
.navbar-collapse {
  background: $color-light-gray1;
  padding: 8px 0 !important;
  @media #{$mobile} {
    background: #3A72AB;
    padding: 0 !important;
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      margin-right: 20px;
      @media #{$mobile} {
        margin-right: 0;
        border-bottom: 1px solid #34679A;
        border-top: 1px solid #407EB4;
      }
      > a {
        color: $color-gray1;
        padding: 8px;
        font-size: 20px;
        font-family: Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
        text-transform: capitalize;
        @media #{$mobile} {
          color: $color-white
        }
        &:hover, &:active, &:focus, &.is-active, &.is-active:hover {
          background: $color-gray2;
          color: $color-white;
        }
      }
      &.open, &.active {
        > a, > a:hover, > a:active, > a:focus {
          background: $color-gray2;
          color: $color-white;
        }
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color-light-gray3;
    @media #{$mobile} {
      background: none;
    }
    > li {
      > a {
        color: $color-gray1;
        text-transform: capitalize;
        font-family: Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
        padding: 8px;
        @media #{$mobile} {
          color: $color-white
        }
        &:hover, &:active {
          color: #666;
          background: $color-light-gray3;
          @media #{$mobile} {
            color: $color-white
          }
        }
      }
      &.active {
        a {
          color: $color-gray1;
          background: $color-light-gray3;
          &:hover {
            color: #666;
            background: $color-light-gray3;
            @media #{$mobile} {
              color: $color-white
            }
          }
        }
      }
    }
  }
}
