//colors
$color_log_cabin_approx: #222;
$white: #fff;
$color_cloud_burst_approx: #293352;
$color_sprout_approx: #c3d7a4;
$color_steel_blue_approx: #4e84c4;
$color_concrete_approx: #f3f3f1;
$color_mexican_red_approx: #a51c30;
$color_iron_approx: #d7d7d7;

//fonts
$font_0: Merriweather;
$font_1: Georgia;
$font_2: serif !important;
$font_3: Merriweather Sans;
$font_4: sans-serif !important;
