@import './varibales';

//@extend-elements
%extend_1 {
  background-image: none;
  background-color: $white;
  border-top: 3px solid $color_celeste_approx;
}
%font {
  font-family: $font_0, $font_1, $font_2, $font_3;
}
body {
  font-size: 15px;
  background: $color_alabaster_approx;
  @extend %font;
}
a {
  color: $color_log_cabin_approx;
  text-decoration: underline;
}
