$color-white: #fff;
$color-black: #000;
$color-text: #606569;
$color-text1: #c5c7cb;
$color-text2: #e0e3E9;
$color-text3: #d7dade;
$color-pink: #e54e53;
$color-light-gray: #f2f2f2;
$color-black: #19232d;
$color-blue: #253443;
