.fc-listUpcoming-view,
.fc-past-view {
  .fc-list-heading {
    .fc-list-heading-main {
      @extend %extend_3;
      span {
        &.event-start-month {
          color: $color_gravel_approx;
        }

        &.event-start-day {
          color: $color_mexican_red_approx;
        }
      }
    }
  }
}
.fc {
  .fc-month-view {
    tr {
      td.fc-today {
        background-color: $white;
        border: 1px solid $color_celeste_approx;
      }
    }
  }
}
