.header-container {
  background: $color_black_haze_approx;
  ul.nav li a {
    color: $color_monarch_approx;
    font: 14px $font_0, $font_1, $font_2;
  }
}
.branding_header {
  color: $white;
  font-weight: normal;
}
