.navbar-collapse {
  @include nav($color_black_haze_approx,$white,$color_persian_plum_approx,$wild_sand,$white,
  $color_rangoon_green_approx,$white,$white,$white,$fs:18px,$fw:normal);
  .region-navigation-collapsible {
    background: none repeat scroll 0 0 $color_mexican_red_approx;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0;
    @media #{$mobile} {
      padding: 0 !important;
      background: none;
    }
  }
  /***** navbar nav *****/
  .navbar-nav {
    > li {
      @media #{$mobile} {
        border-top: 0 none;
      }
      > a {
        font-family: $font_0, $font_1, $font_2;
        background: $color_mexican_red_approx;
      }
    }
  }
  /**** dropdown menu ****/
  .dropdown-menu {
    background: $color_rangoon_green_approx;
    @media #{$mobile} {
      padding: 0;
    }
    > li {
      > a {
        font-family: $font_0, $font_4, $font_5, $font_2;
        @media #{$mobile} {
          background: $color_mexican_red_approx;
        }
      }
    }
  }
}
