/**** default variables ****/
$color-white: #fff;
$color-black: #000;
$color-light-gray1: #ececec;
$color-light-gray2: #ccc;
$color-link: #215990;
$color-link1: #1b4977;
$color-gray: #303030;
$color-gray1: #666666;
$color-gray2: #999999;
