//colors
$gallery: #efefef;
$color_cloud_burst_approx: #293352;
$color_mercury_approx: rgb(230, 230, 230);
$color_wild_sand_approx: rgb(245, 245, 245);
$color_alto_approx: #ddd;
$white: #ffffff;
$color_red_stage_approx: #d16103;
$color_tundora_approx: #444;
