// Default variables.
@import "default-variables";

//own styles
@import 'base/base-main';

// Base-theme overrides.
@import 'overrides';

//global style
@import 'global/global-main';

//page styles
@import 'pages/news';
@import 'pages/presentation';
@import 'pages/person';
@import 'pages/events';

//layout styles
@import 'layout/footer';
@import 'layout/header';
@import 'layout/sidebar';
