$color-white: #ffffff;
$color-black: #000000;
$color-gray: #1F1F1F;
$color-gray1: #393939;
$color-gray2: #333333;
$color-gray3: #444444;
$color-gray4: #1e1e1e;
$color-dove-gray: #6C6C6C;
$color-regent-gray: #8996A1;
$color-light-gray1: #F3F3F1;
$color-light-gray2: #CACACA;
$color-light-gray3: #cccccc;
$color-light-gray4: #d3d3d3;
$color-light-gray5: #f9f9f9;
$color-light-gray6: #E6E5E3;
$color-light-gray7: #ececec;
$color-red: #A51C30;
$color-red1: #7B272B;
$color-red2: #86111E;
$color-red3: #6a1319;
$color-red4: #80282C;
$color-red5: #AB383E;
$color-submarine: #BAC5C6;
$color-blue: #346ba6;
