@import url(https://fonts.googleapis.com/css?family=Noto+Serif); body,
.page-title,
.node--title,
.path-search .title a,
.more-link,
.links a,
footer ul.nav a,
.boxes-box-content h2,
aside .nav a,
.content-inner h2,
.content-inner h3,
.content-inner h4,
footer ul.nav li ul li a,
h2.block-title,
.header-container ul.nav a {
  font-family: 'Noto Serif', Georgia, serif;
}
footer,
.header-container {
  background: #ffdb6d;
}
.navbar-collapse {
  background: #4e84c4;
}
.navbar-collapse ul.nav ul {
  background: #4e84c4;
}
.navbar-collapse .dropdown-menu > li > a:hover,
.navbar-collapse .dropdown-menu > li > a:active {
  background: #4e84c4;
}
.navbar-collapse ul.nav .dropdown ul li a:hover,
.navbar-collapse ul.nav a {
  color: #fff;
}
.search-block-form .form-submit {
  background: #4e84c4;
  border-radius: 44px;
  border-color: #4e84c4;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main,
.fc-listPast-view .fc-list-heading .fc-list-heading-main {
  width: 55px;
  height: 55px;
  background: #bac5c6;
  border-radius: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main span .fc-listPast-view .fc-list-heading .fc-list-heading-main span {
  font-weight: normal;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main span.event-start-month,
.fc-listPast-view .fc-list-heading .fc-list-heading-main .event-start-month {
  color: #000;
}
.fc-listUpcoming-view .fc-list-heading .fc-list-heading-main span.event-year,
.fc-listPast-view .fc-list-heading .fc-list-heading-main span.event-year {
  padding: 8px 0 0;
}
.search-block-form .form-search {
  background-color: #dedede;
  border-radius: 30px;;
  padding: 0 35px 0 8px;
}
aside .row > .block,
.path-front .content-inner .block,
#content-column .block.block-boxes-os_boxes_columns .block,
.path-person .block-inner,
.comment-wrapper {
  border-top: 2px dotted #c4961a;
}
aside .row > .block,
.path-front .content-inner .block.block-boxes-os_slideshow_box,
.content-inner .block.block-boxes-os_boxes_columns .block,
.path-person .block-inner,
.comment-wrapper {
  border-top: none;
}
#boxes-box-os_pages_section_nav {
  border: 1px solid #ffdb6d;
}
aside .nav > a:hover,
aside .nav > a {
  background-color: #bac5c6;
  color: #222;
}
footer a,
.header-container ul.nav a {
  font: bold 14px arial, sans-serif;
  text-transform: none;
  color: #1b4977;
}
footer ul.nav li a {
  text-transform: none;
}
footer ul.nav li a.menu-heading {
  text-transform: uppercase;
}
a.rslides_nav {
  border-radius: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  width: 6px;
}
.rslides_tabs li:last-child,
.rslides_tabs li:first-child {
  background: transparent;
}
a.rslides_nav.prev {
  background-position: -19px -25px;
  margin-right: 8px;
}
a.rslides_nav.next {
  background-position: -50px -25px;
  margin-left: 8px;
}
