$color-white: #fff;
$color-black: #000;
$color-emperor: #545454;
$color-gray1: #999999;
$color-gray2: #666666;
$color-gray3: #333333;
$color-lynch: #5D7485;
$color-light-gray1: #eeeeee;
$color-light-gray2: #fafafa;
$color-light-gray3: #dadada;
