/**** navbar background ****/
.navbar-collapse {
  background: url("../images/mainNavBg.png") repeat-x scroll 0% 0% $color-gray3;
  padding: 0 10px 0 0 !important;
}
/***** navbar nav *****/
.navbar-nav {
  color: $color-lynch;
  > li {
    > a {
      color: $color-lynch;
      float: left;
      font-size: 0.92em;
      font-weight: bold;
      padding: 1.1em 1.6em;
      text-decoration: none;
      text-transform: uppercase;
      &:hover,
      &:active,
      &:focus,
      &.is-active,
      &.is-active:hover {
        background: $color-light-gray3;
        color: $color-lynch;
      }
    }
    &.open,
    &.active {
      > a,
      > a:hover,
      > a:active,
      > a:focus {
        background: $color-light-gray3;
        color: $color-lynch;
      }
    }
  }
}
/**** dropdown menu ****/
.dropdown-menu {
  background: $color-gray2;
  >li {
    >a {
      color: $color-lynch;
      font-family: Arial,
      Helvetica,
      sans-serif;
      font-weight: bold;
      padding: 10px 15px;
      text-transform: uppercase;
      &:hover,
      &:active {
        color: $color-lynch;
        background: $color-light-gray3;
      }
    }
    &.active {
      a {
        color: $color-lynch;
        background: $color-light-gray3;

        &:hover {
          color: $color-white;
          background: $color-light-gray3;
        }
      }
    }
  }
}
