@import url('https://fonts.googleapis.com/css?family=Droid+Sans:300,400,700|Volkhov:300,400,400i,700'); body,
.node--title,
.path-search .title a,
.more-link,
.links a,
footer ul.nav a,
aside .nav a,
footer ul.nav li ul li a,
.header-container ul.nav a,
.navbar-collapse ul.nav a,
.full-calendar-view .fc-header-toolbar h2 {
  font-family: 'Droid Sans', sans-serif;
}
.page-title,
.content-inner h2,
.content-inner h3,
.content-inner h4,
h2.block-title,
.path-person .content-inner .node-title {
  font-family: 'Volkhov', sans-serif;
}
footer a {
  color: #215990;
}
aside .nav a {
  background-color: #f3f3f1;
  color: #333;
  border-bottom: 1px solid #d7d7d7;
}
#boxes-box-os_pages_section_nav,
aside .nav a {
  border-color: #d7d7d7;
}
h1.page-title {
  font-size: 2em;
  line-height: 1.2;
}
h2.block-title {
  font-size: 1.4em;
}
.navbar-collapse ul.nav ul,
.navbar-collapse ul.nav a.is-active,
.navbar-collapse ul.nav a:hover,
.navbar-collapse ul.nav a.is-active:hover,
.navbar-collapse ul.nav li.open a,
.navbar-collapse ul.nav > li.open > a:hover header {
  background: #4d5d71 !important;
}
.navbar-collapse {
  background: #3c4858;
}
.not-front .navbar-collapse {
  border-bottom: 9px solid #f5f5f5;
}
.path-front .region-content-first,
.path-front .region-content-bottom {
  background: url('images/fp-panel-bg.png?m=15079274erererererr') repeat-x #f5f5f5;
  background-position: 50%;
}
.header-container ul.nav a,
header,
header a {
  color: #fff;
}
.node-readmore a:after {
  background: none;
  padding-right: 0;
}
footer {
  background-color: #e8e8e8;
  color: #333;
}
#powered-by a {
  background-position: -14px -520px;
}
.not-front h2.block-title {
  padding: 15px 0 10px;
}
a.rslides_nav,
.search-block-form .form-submit {
  background-color: orange;
}
.not-front aside .block-title,
.path-person .node-person .pic-bio,
.path-person .content-inner .block-title {
  border-top: 1px solid orange;
}
.fc-listUpcoming-view .fc-list-heading span.fc-list-heading-main,
.fc-listPast-view .fc-list-heading span.fc-list-heading-main {
  border-top: 3px solid orange;
}
